<p>Derive an attribute value from the parent attribute value (and unlike formula references, parent changes are not propagated).
You can define a Parent Copy derivation to obtain parent values to avoid cascading the parent value if it is subsequently altered.</p>
<label>Example Use Case:</label>
<p>In the Demo API, we want to retain the quoted product price so that it does not change if the product price is subsequently ordered.</p>
<label>Effect of Use Case:</label>
<p>If you buy on Monday, your order total is not affected by a Tuesday price change.</p>