<div parent-draggable class="modal-column-container">
	<h3 class="dragHandle dragModalHandle">Column Details:</h3>
	<table class="table">
		<thead></thead>
		<tbody>
			<tr>
				<td><label>Display Name</label></td>
				<td><input ng-trim='false' ng-blur="checkAliasValue();" class="form-control"
					ng-model="form.alias" type="text" /></td>
			</tr>
			<tr>
				<td><label>Default Value</label></td>
				<td><input class="form-control" ng-trim='false' ng-model="form.default" type="text" /></td>
			</tr>
			<tr ng-hide="unmaskable">
				<td><label>Default Cell Formats</label></td>
				<td><select class="form-control" ng-model="form.mask"
					ng-options="label for ( label , value ) in defaults"></select></td>
			</tr>
			<tr ng-hide="unmaskable">
				<td ng-hide="hide_cellFormat"><label>Cell Format</label></td>
				<td ng-hide="hide_cellFormat"><input class="form-control" ng-trim='false'
					ng-model="form.mask" /></td>
			</tr>
			<tr ng-hide="unmaskable">
				<td ng-hide="!hide_cellFormat"><label>Downloadable</label></td>
				<td ng-hide="!hide_cellFormat"><input class="form-control" ng-trim='false'
					ng-model="form.downloadable" type="checkbox" /></td>
			</tr>
			<tr>
				<td><label>Name</label></td>
				<td>{{columnInfo.name}}</td>
			</tr>
			<tr>
				<td><label>Editable</label></td>
				<td>{{columnInfo.is_editable}}</td>
			</tr>
			<tr>
				<td><label>Max Size</label></td>
				<td>{{columnInfo.size}}</td>
			</tr>
			<tr>
				<td><label>Type</label></td>
				<td>{{columnInfo.type}}</td>
			</tr>
			<tr>
				<td><label>Expressions</label></td>
				<td>
					<ul class="horizontal-menu tabset">
						<li class="expression-tab index-{{$index}}"
							ng-repeat="exp in eval" ng-click="activateExpression($index);"
							data-eval-index="{{$index}}">{{$index+1}}</li>
						<li ng-click="addExp();"><i class="fa fa-plus"></i></li>
						<li ng-click="expressionInfo();"><i
							class="fa fa-question-circle"></i></li>
					</ul>
					<div class="active-exp" ng-if="activeExp">
						<form class="form-line">
							<table>
								<tbody>
									<tr>
										<td>Evaluation:</td>
										<td><input ng-trim='false' class="form-control expression-input"
									ng-model="activeExp.expression" placeholder="Expression" /></td>
									</tr>
									<tr>
										<td>CSS Selector:</td>
										<td><input ng-trim='false' class="form-control expression-input "
									placeholder='CSS Selector' ng-model="activeExp.selector" /></td>
									</tr>
									<tr>
										<td>onTrue Styles:</td>
										<td><textarea class="form-control expression-input " rows="2"
									placeholder='CSS styles when "TRUE"'
									ng-model="activeExp.onTrue"></textarea></td>
									</tr>
									<tr>
										<td>onFalse Styles:</td>
										<td><textarea class="form-control expression-input "
									placeholder='CSS styles when "FALSE"'
									ng-model="activeExp.onFalse"></textarea></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
							<br />
							<fieldset ng-click="deleteExpression();" class="btn btn-default">Remove Expression
							</fieldset>
						</form>
					</div>
				</td>
			</tr>
			<tr ng-if="columnInfo.isFk">
				<td><label>Default Lookup Filters</label></td>
				<td><select ng-model="form.filterParentColumn" class="form-control"
					ng-options="column.name as column.name for column in parentColumns"></select>
					TO <select class="form-control" ng-model="form.filterRowColumn"
					ng-options="column.name as column.alias for column in columns"></select>
					<br /> <span><small>Select the parent column
							filtered TO this child row value.</small></span></td>
				<td><button ng-click="clearDefaultFilters();">
						<i class="fa fa-trash-o"></i>
					</button></td>
			</tr>
			<tr ng-if="columnInfo.isFk">
				<td><label> </label></td>
				<td></td>
				<td></td>
			</tr>
			<tr ng-show="showBinaryOptions">
				<td><label>Show as hex</label></td>
				<td><input class="form-control" ng-trim='false'
					ng-model="form.hexViewable" type="checkbox" />
				</td>
			</tr>
			<tr ng-show="showBinaryOptions">
				<td>Binary Type</td>
				<td><select class="form-control" ng-model="$parent.binaryType"
					ng-change="updateApplicableExtensions();"
					ng-options="type for type in binaryTypes">
						<option value="">-- binary --</option>
				</select></td>
			</tr>
			<tr ng-show="showExtensionOptions">
				<td>File Extension</td>
				<td><select class="form-control" ng-model="extensionType"
					ng-options="type.name for type in applicableExtensions"></select></td>
			</tr>
		</tbody>
	</table>
	<div class="float-right">
		<button class="btn btn-blank" ng-click="$dismiss();">Cancel</button>
		<button class="btn btn-primary" ui-keyup="{'enter':'close()'}"
			ng-click="close();">Save</button>
	</div>
</div>