<div class="modal-header">
	<h2 class="product-title">Complex Column Relationship</h2>
	<p>Nullifying a column in multi column relationship affects more than one attribute. This column participates in the following foreign keys, some or all of which may become invalid:</p>
</div>
<div class="modal-body">
	<table class="table table-striped">
		<thead>
			<tr>
				<td><strong>Relationship</strong></td>
				<td><strong>Parent Table Referenced</strong></td>
				<td><strong>Columns In Index</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(name, columns) in relationships">
				<td>{{name}}</td>
				<td>{{parentTables[name]}}</td>
				<td>
					<span ng-repeat="column in columns">{{column}}<span ng-hide="$last">, </span></span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pull-right">
		<button class="btn btn-blank" ng-click="cancel()">Cancel</button>
		<button class="btn btn-warning btn-primary" ng-click="closeAndNullify()">Nullify</button>
	</div>
	<br/>
</div>