<div style="padding: 0 15px 15px 15px;">
	<h2>
		<strong>Expressions</strong>
	</h2>
	<p>
		<strong>Logic</strong>
	</p>
	<p></p>
	<p>Each expression is evaluated individually, and the right most
		expressions will overwrite the expression styles preceding.</p>

	<p>
		<strong>Syntax</strong>
	</p>
	<p>
		Example:
		<code>row.credit_balance > 2000</code>
		, where credit_balance is a column name in this table
	</p>
	<p>Expressions are evaluated as JavaScript, and when passing text
		into exposed methods, wrap the value in quotes:</p>
	<p>
		<code>hasRole("plainTextValue")</code>
	</p>

	<p>
		<strong>CSS Selectors</strong>
	</p>
	<p>
		Example:
		<code>input</code>
		applies styles to the current input
	</p>
	<p>
		Example:
		<code>/input</code>
		, by preceding the selector with a "/", an expression style will be
		applied to all inputs on the page
	</p>
	<p>The most common selectors for the form view are: "label",
		"input", and ".column-container" for the column label text, the column
		input, and the element containing them respectively.</p>
	<p>The only selector applicable for the grid section is: "cell"</p>

	<p>
		<strong>CSS Styles</strong>
	</p>
	<p>
		Example:
		<code>display:none;</code>
		will hide the selected elements
	</p>
	<p>
		Example:
		<code>color:red;</code>
		will change the font-color to "red"
	</p>
	<p>
		Example:
		<code>background:white;</code>
		will change the background color to "white"
	</p>

	<p>
		<strong>Exposed Parameters</strong>
	</p>
	<p>
		<code>row</code>
		: a reference to the values of this row
	</p>
	<p>
		<code>action</code>
		: the current logicContext verb for this row (INSERT, DELETE, UPDATE,
		null)
	</p>
	<p>
		<code>parents</code>
		: a reference to parent roles and their row values
	</p>

	<p>
		<strong>Exposed Methods</strong>
	</p>
	<p>
		<code>hasRole("roleName")</code>
		: checks if a parent role exists
	</p>
</div>