<div style="padding: 0 15px 15px 15px;">
	<h2>
		<strong>Expressions</strong>
	</h2>
	<p>
		<strong>Premise</strong>
	</p>
	<p></p>
	<p>This expression will evaluate every time the form window is
		refreshed, updating the form title accordingly.</p>

	<p>
		<strong>Syntax</strong>
	</p>
	<p>
		Example:
		<code>table.name + ' -> ' + row.credit_balance</code>
		, where credit_balance is a column in this table and table.name is
		refers to the @tables.name request object
	</p>
	<p>Expressions are evaluated as JavaScript, and when passing text
		into exposed methods, wrap the value in quotes:</p>
	<p>
		<code>"Expressed String -> " + row.credit_balance</code>
	</p>

	<p>
		<strong>Exposed Parameters</strong>
	</p>
	<p>
		<code>row</code>
		: a reference to the values of this row
	</p>
	<p>
		<code>table</code>
		: the Logic Designer API @tables request object
	</p>
</div>