<div class="modal-column-container" parent-draggable>
	<h4 class="eslo-modal-header dragHandle">Options for:
		{{tableName}}</h4>
	<div class="tab-area-container">
		<ul class="tab-list" ng-init="tabTo('display');">
			<li ng-click="tabTo('display');" data-section="display"><a><strong>Column
						Display</strong></a></li>
			<li ng-if="scalarSettings" ng-click="tabTo('order');"
				data-section="order"><a><strong>Column Order</strong></a></li>
			<li ng-if="scalarSettings" ng-click="tabTo('window');"
				data-section="window"><a><strong>Form Window</strong></a></li>
		</ul>
		<div class="tab-section" data-section="window">
			<table>
				<tr>
					<td><label for='form-window-title'
						class='column-selector-name' title='{{colName}} - {{col.type}}'>
							Form Title </label></td>
					<td><input ng-trim='false' class="form-control" type='text'
						id='form-window-title' ng-model='form.table.expressedTitle' /></td>
					<!--<td>
						<span ng-click="expressionInfo();"><i class="fa fa-question-circle"></i></span>
					</td>-->
				</tr>
				<tr>
					<td colspan="2">
						<p>
							<strong>Title Syntax</strong>
						</p>
						<p>
							Example:
							<code>table.name + ' -> ' + row.credit_amount</code>
							, where credit_amount is a column in this table and table.name is
							refers to the @tables.name request object
						</p>
						<p>Expressions are evaluated as JavaScript, and when passing
							text into exposed methods, wrap the value in quotes:</p>
						<p>
							<code>"Expressed String -> " + row.credit_amount</code>
						</p>

						<p>
							<strong>Exposed Parameters</strong>
						</p>
						<p>
							<code>row</code>
							: a reference to the values of this row
						</p>
						<p>
							<code>table</code>
							: the Logic Designer API @tables request object
						</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="tab-section" data-section="display">
			<table>
				<tr ng-repeat="(colName, col) in form.columns"
					ng-click='columnsChanged(col.displayed, colName)'>
					<td><input ng-trim='false' type='checkbox'
						id='colSelect{{colName}}' data-column='{{colName}}'
						ng-model='col.displayed' /></td>
					<td><label for='colSelect{{colName}}'
						class='column-selector-name' title='{{colName}} - {{col.type}}'>
							{{col.alias}} <span ng-show="showColumnDetails">
								({{colName}} - {{col.type}})</span>
					</label></td>
				</tr>
			</table>

			<div class="panel-group" id="accordion">
				<div class="panel panel-default"
					ng-repeat="(name, parent) in form.parents">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse{{name}}"> {{parent.table}} via role {{name}}
							</a>
						</h4>
					</div>
					<div id="collapse{{name}}" class="panel-collapse collapse">
						<div class="panel-body">
							<table>
								<tr ng-repeat="(colName, col) in parent.columns"
									ng-click='columnsChanged(col.displayed, colName, parent)'>
									<td><input ng-trim='false' type='checkbox'
										id='colSelect-{{name}}-{{colName}}' data-column='{{colName}}'
										ng-model='col.displayed' /></td>
									<td><label for='colSelect-{{name}}-{{colName}}'
										class='column-selector-name' title='{{colName - col.type}}'>
											{{col.alias}} <span ng-show="showColumnDetails">
												({{colName}} - {{col.type}})</span>
									</label></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /data-section:display -->
		<div class="tab-section" data-section="order">
			<div class="column-params row">
				<div class="col-md-4">
					<button class="btn btn-default" type="text" ng-click="addGroup();">
						<i class="fa fa-plus"></i> <strong>Add Grouping</strong>
					</button>
				</div>
				<div class="col-md-6">
					<form class="form-inline">
						<div class="input-group">
							<div class="input-group-addon" ng-click="removeGroup($index)">Label
								Placement</div>
							<select class="form-control form-inline"
								ng-model="params.labelPlacement"
								ng-options="behavior.placement as behavior.placement for behavior in inputBehaviors"></select>
						</div>
					</form>
				</div>
			</div>
			<div group-interface ng-repeat="group in params.groups" group="group"
				params="params" index="$index" columns="scalarColumns"></div>
			<!--<ol class="sortable ungrouped">
		      <li class="column-item" data-column-key="{{key}}" ng-repeat="key in scalarOrder">{{scalarColumns[key].alias}}</li>
		  </ol>-->
		</div>
		<!-- /data-section:order -->
	</div>
	<!-- /.tab-area-container -->
	<br />
	<div class="float-right"><input ng-trim='false' type="checkbox"
		ng-model="showColumnDetails" id="showColumnDetails" /> <label
		for="showColumnDetails" style="">Details</label>
	<button class="btn btn-primary" style="margin-left: 15px;"
		ng-click="close()">Close</button>
	</div>

</div>
