<div class="modal-column-container">
	<button class="pull-right close" ng-click="closeSkinModal()">&times;</button>
	<h2>Edit skin</h2>

	<form role="form">
		<div class="form-group">
			<label for="skinName">Name:</label> <input ng-trim='false'
				type="text" class="form-control" ng-model="skin.name" id="skinName"
				placeholder="My skin">
		</div>
		<div class="form-group">
			<label for="skinDesc">Description:</label>
			<textarea rows="5" class="form-control" ng-model="skin.description"
				id="skinDesc" placeholder="This is my skin"></textarea>
		</div>
		<div class="form-group">
			<label for="skinDesc">Contents:</label> <span
				class="form-control-static"><span ng-show="skin.css">{{skin.css.length}}
					bytes</span><span ng-show="!skin.css">&lt;empty></span></span> <input
				ng-trim='false' type="file" id="skinFile" />
			<!-- 			<button class="btn btn-sm btn-default" ng-click="uploadStylesheet()">Upload</button> -->
			<span ng-show="skinUploadMessage"
				style="color: #00AA00; background-color: #E0FFE0;">{{skinUploadMessage}}</span>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="saveSkin()">Save</button>
			<button class="btn btn-default" ng-click="closeSkinModal()">Close</button>
		</div>
	</form>
</div>
