<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>CA Live API Creator 2.1.xx.2292</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>CA Live API Creator admin DB connection</description>
		<res-ref-name>jdbc/AdminDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<listener>
		<listener-class>com.kahuna.server.servlet.KahunaServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.kahuna.server.servlet.KahunaRequestListener</listener-class>
	</listener>

	<context-param>
		<param-name>LogicServiceFullVersion</param-name>
		<param-value>2.1.xx.2292</param-value>
	</context-param>

	<!-- What kind of platform we're running on: EC2, ... -->
	<context-param>
		<param-name>PlatformType</param-name>
		<param-value>EC2</param-value>
	</context-param>

	<servlet>
		<servlet-name>API REST Handler</servlet-name>
		<servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.kahuna.server.rest</param-value>
		</init-param>
<!--    <init-param>
  ..        <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
  ..        <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
  ..    </init-param>
  ..    <init-param>
  ..        <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
  ..        <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
  ..    </init-param>
  -->
	</servlet>

	<servlet>
		<servlet-name>General REST Handler</servlet-name>
		<servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.kahuna.server.http</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>DATA Handler</servlet-name>
		<servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.kahuna.server.datahandler</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>API REST Handler</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>General REST Handler</servlet-name>
		<url-pattern>/http/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DATA Handler</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>

	<error-page>
		<exception-type>com.kahuna.server.KahunaException</exception-type>
		<location>/errorKahunaException.jsp</location>
	</error-page>

	<error-page>
		<exception-type>com.kahuna.logic.engine.LogicException</exception-type>
		<location>/errorKahunaException.jsp</location>
	</error-page>
</web-app>
