<div id="welcome-tabs" class="home-view" style="height: 100%;" ng-init="helpDialog('home', 'Welcome');">
<div class="dismiss-box btn-group btn-group-lg margin-3">
	<button ng-if="!isPermanentlyDismissed" class="btn btn-primary btn-lg" ng-click="closeForever();">Close Permanently</button>
	<button class="btn btn-lg btn-primary" ng-click="close();">Close</button>
</div>
<tabset style="height: 100%;">
	<tab heading="Welcome">
	
<h3>Welcome to {{brandPrefixName}} {{productFullName}} </h3>
We recommend the following steps to 
<a href="http://ca-doc.espressologic.com/docs/getting-started-1" target="_blank">get started.</a> 
<br/><br/>

<table class="table border-left-none border-right-none"  border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td  style="width:20%;"><h4>Step 1: Orientation</h4></td>
<td  style="width:18%;"><h4>Step 2: Videos</h4></td>
<td  style="width:18%;"><h4>Step 3: Tour</h4></td>
<td  style="width:20%;"><h4>Step 4: Walk-through</h4></td>
<td  style="width:24%;"><h4>Step 5: Readiness</h4></td>
</tr>

<tr>
<td>This screen summarizes<br/> 
basic concepts and architecture.</td>

<td>

View:
<ul style="" id="listOfVideos">

<li><a onclick="return showPopupVideo('https://player.vimeo.com/video/143332857')" 
	href="#">Welcome</a>
	</li>

<li><a onclick="return showPopupVideo('http://player.vimeo.com/video/143955119')" 
	href="#">Update, </a>
	<br/>
	<a onclick="return showPopupVideo('https://player.vimeo.com/video/148275173')" 
	href="#">Animation</a>
	</li> 

<li><a onclick="return showPopupVideo('http://player.vimeo.com/video/91486541')" 
	href="#">Integration</a></li>
	
</ul>
</td>

<td>
A Tour will guide you to
<br/>create an API.

<br/><br/>
Watch for <i class="fa fa-graduation-cap"></i> when you 
<br/>Close this Welcome.
<br/><br/>
</td>


<td>
Explore sample API Projects.
<br/><br/>
Use <a href="http://ca-doc.espressologic.com/docs/getting-started" target="_blank">this </a> 
with <a onclick="return showPopupVideo('https://player.vimeo.com/video/143332857')" 
	href="#">Welcome</a> -
<br/>key features,  links to learn more.

</td>


<td>
 <a href="http://ca-doc.espressologic.com/docs/logic-designer/create/rest-resources/rest-apis/data-integration/business-to-business-example" target="_blank"> <strong>This </strong></a> 
 illustrates Integration, 
 <br/>Extensibility, Debugging and DevOps.
 <br/><br/>
 Hands-on, so you are ready to 
 <br/>participate in real-world projects.
 

</td>
</tr>
</table>

<br/><br/>

	<h3>{{productFullName}} in a nutshell</h3>
	A quick overview of the key functionality 
	<br/><br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
	<tr>
	<td>
		
		<a onclick="return showPopupVideo('https://player.vimeo.com/video/143332857')"
href="#"><img id="image-arch-1min" src="images/lac-functions.png" border="0"  width="600" alt="" /></a>
		
<br/><br/>
<strong>Instant Activation</strong> - no code gen, no deployment.
	</td>
	
	
	<td>
	{{productFullName}} simplifies and accelerates creating RESTful servers,<br/>
with declarative definition of the services typically found in an App Server:<br/><br/>

<ul>
<li><strong>Create</strong> APIs - Connect to your database for a default API -<br/>point and click customization - nested docs, aliases, etc.<br/><br/></li>
<li><strong>Integrate</strong> Multiple Data Sources and Systems -<br/> point and click<br/><br/></li>
<li><strong>Execute</strong> Business Policy for Logic and Row/Column Security -<br/> 
<a href="http://ca-doc.espressologic.com/docs/logic-designer/business-logic" target="_blank"><strong>Reactive Logic </strong> </a>
spreadsheet-like rules, and<br/>
server-side JavaScript for 
<a href="http://ca-doc.espressologic.com/docs/extensibility" target="_blank"><strong>Extensibility</strong> </a>
</li>
</ul>

And, use the <strong>{{productDataExplorer}}</strong>, automatically created from the schema,<br/>
 for Testing, Prototypes, and Back Office Data Maintenance.<br/><br/>


	</td>
	</tr>
	</table>
<br/>
<br/>


<h3>Resources</h3>

As you proceed, explore the following.
<br/>
<br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><h4>Logic Tutorial</h4></td>
<td>The <a href="http://ca-doc.espressologic.com/docs/tutorial" target="_blank">Logic Tutorial</a>
provides a case-study oriented approach for learning the rules, and the key underlying patterns.<br/><br/>

Note the sample projects are provided - access them via the Project dropdown in the top center toolbar.<br/><br/>

And  <a href="http://ca-doc.espressologic.com/docs/architecture/logic-execution" target="_blank">
here's how rules work.</a>
</td>
<tr>
<td><h4>Events</h4></td>
<td>You will almost certainly need to complement your rules with JavaScript event handlers -
<a href="http://ca-doc.espressologic.com/docs/reference#TOC-JavaScript-Extension-Points" target="_blank">here's a useful table.</a>
</td>
</tr>
<tr>
<td><h4>GitHub</h4></td>
<td>You can find more samples, and security connectors, on GitHub.
</td>
</tr>
<tr>
<td><h4>Client Samples</h4></td>
<td>The API Docs Navigation Bar (on the left - de-select Short Menus) shows important examples you can use in your code.
</td>
<tr>
<td><h4>Docs</h4></td>
<td>Reference - useful <a href="http://ca-doc.espressologic.com/docs/reference"  target="_blank">index here.</a>
</td>
</tr>
</tr>

</table>



	<br/><br/>

	<h3>Key Do's and Don'ts</h3>
You will probably pick up API Creation quite quickly, since it's a point and click technique for building a commonly understood API.
{{productSlimName}}'s most unique feature is Reactive Programming for business logic, so it's important to be aware of that.
<br/><br/>
<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><h4>Don't</h4></td>
<td><h4>Do</h4></td>
</tr>
<tr>
<td><b>Code Logic in client</b></td>

<td><b>Specify Logic in Server</b> to:
<ul>
<li>Centralizes your logic for re-use, including for non-UI clients such as other systems.</li>
<li>Improves performance by reducing the amount of data which must be sent to the client</li>
</ul></td>
</tr>

<tr>
<td><b>Code Logic in Events</b></td>
<td><b><a href="http://ca-doc.espressologic.com/docs/logic-designer/business-logic/event" target="_blank">Think Spreadsheet</a></b> -

<em>Spreadsheet-like rules</em> are orders of magnitude more expressive than events
<br/>
<br/>
Event-driven programming is a common programming model,
and fully supported so there are no boundaries on what you can address.
<br/>
<br/>

But it's a big mistake to use it instead of Reactive Programming spreadsheet-like rules.
Reactive automates Watch/React services, which otherwise require significant code.

<br/>
<br/>
For example, it is a common error to do sum/count rollups in event handlers -
sum/count rules are much easier, and are apt to perform better.</li>
</td>
</tr>
</table>

<br/><br/>

</tab>

<tab ng-repeat="tab in data.userTabs" heading="{{tab.title}}" active="data.tabStates[tab.title]">
	<iframe height="90%" width="100%" ng-src="{{tab.url}}"></iframe>
</tab>

<tab heading="Architecture" ng-click="helpDialog('home', 'Help', localStorage['eslo-ld-learn-complete']);">

<!--   a href="http://ca-doc.espressologic.com/docs/architecture" target="_blank"
title="Connect prepares an executable User Interface and a RESTful API"
trouble with live region starting ConnWiz - Max's last thought: onclick="$('#connectWizardButton').click(); return false;"

<img id="image-arch" src="images/espresso-architecture.png" border="0"  usemap="#image-map-usage" alt="" />
<map name="image-map-usage" id="image-map-usage-id">

<area  alt="" title="Test it in an HTML5/CSS device"  shape="rect" coords="3,0,176,172" style="outline:none;" target="_blank"  ng-href="http://www.ipadpeek.com?url=http://demodev.espressologic.com/LiveBrowser/#/?serverName={{liveBrowserUrl}}&forceLogin=true" />
...</map>
<br/>


-->

<a id="Architecture"></a>
<h3>Architecture</h3>
<br/>
{{productFullName}} is <a href="http://ca-doc.espressologic.com/docs/architecture" target="_blank"><strong>architected</strong> </a>as follows:
<br/><br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><img src="images/lac-architecture.png" border="0" />
<br/><br/>
<br/><br/>

Both the {{productAPIServer}} and database can be in the cloud or on-premise.<br/><br/>

{{productAPIServer}} is simply a war file, so can be deployed in the Cloud (AWS, Azure), <br/>
or on-premise in your own container (Tomcat, Jetty, etc) or as an appliance.<br/><br/>

</td>
<td>

{{productFullName}} consists of:<br/><br/>
<ul>
<li>Two <strong>client apps,</strong> accessed from your Browser (use Chrome or Firefox - mobile Browsers have some minor issues):<br/><br/>
<ol>
<li>Use the <strong>{{productSlimName}}</strong> to specify your API, your logic (rules, JavaScript), database location and your security settings. <br/><br/></li> 
<li>Use the  <strong>{{productDataExplorer}}</strong> to test your API, and for back-office data maintenance.<br/><br/></li>
</ol></li>

<li>The <strong>{{productAPIServer}} </strong>stores these settings in the {{productAdminDB}}, and enforces them in the course of processing REST retrieval / update requests.
Typical clients are Web / Mobile Apps, or other systems.<br/><br/></li>

<li><strong>{{productAdminDB}}</strong> (MySQL, Postgres or Derby/JavaDB) is used to store your API definitions, logic, security settings, etc.
It is transparent for Cloud / Appliance users, and must be configured for WAR users. 
This database is accessed via {{productFullName}}'s REST API.  
<ol>
<li>Admin contents can be exported into a file for maintenance in an <strong>Source Control System.</strong>  <br/><br/></li> 
<li>You can use the Admin CLI (Command Language Interface) to <strong>script</strong> the creation of APIs into an API Server.<br/><br/></li>
</ol></li>


<li><strong>Identity Management</strong> - In typical deployments,
{{productSlimName}} calls out to your security system (Active Directory, LDAP, OAuth) for Authentication.</li>
</ul>

</td>
</tr>
</table>
<br/><br/>


<br/><br/>

<a id="Open" ></a>
<h3>Open and Extensible via server-side JavaScript</h3>
<br/>
{{productSlimName}} is architected to be <a href="http://ca-doc.espressologic.com/docs/extensibility"  target="_blank"><strong>open and extensible</strong> </a>as follows:
<br/><br/>


<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td>
<img src="images/open-ext.png" border="0"  /><br/><br/>
{{productFullName}} is a web application that runs under the JVM 
within containers such as Tomcat, Jetty, App Servers, etc.<br/><br/>

{{productFullName}} RESTful services can be invoked from any machine or client, 
ranging from mobile / web apps, to an internal / partner systems, App Servers, chron jobs, frameworks, etc.
</td>

<td>

There are some key elements that make the logic open and extensible:<br/><br/>
<ol>
<li>The system provides numerous events, which you can handle in server-side JavaScript.<br/><br/></li>

<li>Logic for Events, Formulas and Validations are specified in JavaScript.<br/><br/></li>

</ol>

In both cases, once you get into JavaScript, you have<br/><br/>
<ol>
<li>Full access to JavaScript (note it is restricted in eval versions, due to multi-tenant security considerations).<br/><br/></li>

<li>Ability to access any other JavaScript or Java logic running in the JVM, via loadable libraries.<br/><br/></li>

<li>Ability to access remote services, via REST, SOAP, etc.<br/><br/></li>
</ol>

</td>
</tr>
</table>
<br/><br/>



<br/><br/>

<a id="Enforcement" ></a>
<h3>API Enforces Business Policy</h3>
<br/>
Per Enterprise-class requirements, Business Policies are enforced by the API.<br/><br/>

To drive quality and simplify compliance verification, policies are specified at the table level, and
automatically re-used over all Custom Resources defined on the underlying table.
<br/><br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td>
<img src="images/enforcement.png" border="0"  /><br/><br/>
</td>

<td>

Logic is enforced with a combination of server-side JavaScript and Rules,
based on a common underlying Object Model.
<br/>
<br/>
Security is enforced down to the row and column level, based on roles.
Authentication integrates with corporate user lists such as Active Directory or oAuth,
based on a pluggable Authentication Manager.
</td>
</tr>
</table>
<br/><br/>


<a id="AutomaticObjectModel" ></a>
<h3>Automatic Object Model and Logic Enforcement</h3>
<br/>
The key concept underlying logic enforcement is the  
<a href="http://ca-doc.espressologic.com/docs/logic-designer/rest-resources#TOC-Rows---JavaScript-Object-Model"  target="_blank"><strong>server-side JavaScript Object Model</strong></a>.

It's created automatically when you connect, 
and consists of a row type for each table in your schema (e.g., row types for Customers, Orders, Items, etc.). 
To sync subsequennt schema changes, click Reload Schema.
<br/><br/>
You access this <em>same underlying object model</em> in rules and events, 
using system-supplied <code>row/oldRow</code> variables.   These provide:
<ul>
	<li>ORM Services:<br/>
	<ul>
		<li>Access to attributes and related objects, and</li>
		<li>Persistence services to read, write and create rows, within a system-maintained Transaction Cache</li>
	</ul>
	<li><strong>Logic Execution Services </strong>to invoke the rules and JavaScript events in response to client updates (summarized below)</li>
</ul>
<br/><br/>


<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td>
<img src="images/object-model.png" border="0"  /><br/><br/>

Declarative Reactive Rules are JavaScript functions that are attached to columns to <strong>derive</strong> their values,
and to tables to <strong>validate</strong> updates.  Rules differ from procedural code in key ways:
<br/><br/>
<ul>
<li><strong>Automatic Invocation:</strong> the {{productAPIServer}} applies the rules that are relevant to each incoming request.  You <em>don't call </em> the rules,
so a key source of error is eliminated.</li>
<li><strong>Automatic Ordering:</strong> the {{productAPIServer}} executes the rules in an order that reflects their dependencies.  You <em>don't order your logic, </em>
so a key source of maintenance effort is eliminated.</li>
<li><strong>Chaining:</strong> rules can depend on the results of other rules, so 1 change might trigger another - even in another table,
automatic multi-table transactions.</li>
<li><strong>Automatic Persistence:</strong> as rules chain across tables, SQL commands are automated  to read / write (and cache) related data, and bracket transactions.
SQL is optimized to eliminate and reduce database traffic.</li>
</ul>


</td>

<td>

The diagram illustrates system <em>logic execution</em> in response to client updates (Puts, Posts, Deletes) -
a set of rows of various types (orders, items):<br/><br/>
<ul>
	<li>For each submitted row, the system
<ul>
	<li>de-aliases it to create <strong><code class="EnlighterJSRAW" data-enlighter-language="js">row</code></strong> objects, so logic is automatically shared over all Resources</li>
	<li>performs optimistic locking checks, and obtains the <strong><code class="EnlighterJSRAW" data-enlighter-language="js">oldRow</code></strong>  (for state transition logic)</li>
	<li>invokes your rules and events<br/><br/></li>
</ul>
</li>
	<li>Rules and events changes can <strong>propagate</strong>, that is, they may change data referenced by other rules and cause them to fire ("forward chaining")
<ul>
	<li><strong>Multi-table:</strong> such rules can be in other tables.
<ul>
	<li>For example, a line item quantity will adjust the amount, which adjusts the orders' amount_total, which adjusts the customers' balance.</li>
</ul>
</li>
	<li>All SQL is transparent and automated<br/><br/></li>
</ul>
</li>
	<li>If no errors are detected, the transaction is committed. Otherwise, an exception is returned to the client</li>
</ul>

</td>
</tr>
</table>
<br/><br/>


<br/><br/>


<a id="Scalable" ></a>
<h3>Scalable</h3>
REST Servers are stateless, so scale naturally horizontally and vertically.  
PaaS-based deployments of {{productFullName}} provide elastic scalability.<br/><br/>

{{productFullName}} provides numerous services to reduce network and SQL traffic, as
<a href="http://ca-doc.espressologic.com/docs/performance" target="_blank"><strong>described here.</strong></a>
<br/><br/>


	</tab>
</tabset>
</div>
