body{ background: #79A6A6; }
h2{ color: #3C7177; margin: 0;}
h3{ margin: 5px 0 10px 0;}
label{ font-weight: normal; }
.btn-primary{ background: #538c8c; border: #397373; }
.btn-primary:hover, .btn-primary:focus{ background: #408080; border: #397373; }
.window-container{ background: #BCD2D2; margin-top: 125px; padding: 6px; box-shadow: 0px 0px 20px rgba(0,0,0,.4); }
.window-header{ background: #f1f1f2; padding: 8px 0; margin:0 auto; }
.window-body{ background: #fff; padding: 10px 15px; }
.left-align{ text-align: left; }
.right-align{ text-align: right; }