<!doctype html>
<html lang="en">
<head>
<!--[if lt IE 10]>
	<meta http-equiv="refresh" content="0;URL=http://eval.espressologic.com/APICreator/BadBrowser.html">
<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE" />
<meta charset="utf-8">
<title>CA Live API Creator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="image/x-icon" rel="icon" href="favicon.ico" />
<link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>

<!-- build:js dest/js/logic-designer.js -->
<script type="text/javascript" src="js/jquery/2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="js/jquery-ui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/angular/1.2.21/angular.js"></script>
<script type="text/javascript" src="js/angular/1.2.21/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular/1.2.21/angular-route.js"></script>
<script type="text/javascript" src="js/angular/1.2.21/angular-animate.js"></script>
<script type="text/javascript" src="js/angular/1.2.21/angular-sanitize.js"></script>
<script type="text/javascript" src="ui-layout/jquery.layout-1.3.0.js"></script>
<script type="text/javascript" src="js/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="angularjs-ui/bootstrap/0.9/ui-bootstrap-tpls-0.9.0.js"></script>
<script type="text/javascript" src="js/bootstrap-tour/bootstrap-tour.js"></script>
<script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="angularjs-ui/utils/angular-ui-utils-0.0.4.js"></script>
<script type="text/javascript" src="js/ace-master/ace.js"></script>
<script type="text/javascript" src="highlight/highlight.pack.js"></script>
<script type="text/javascript" src="jslib/underscore.js"></script>
<script type="text/javascript" src="jslib/angular-wizard.js"></script>
<script type="text/javascript" src="js/ui-select/select.js"></script>
<script type="text/javascript" src="jslib/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/account.js"></script>
<script type="text/javascript" src="js/projects.js"></script>
<script type="text/javascript" src="js/database-controllers.js"></script>
<script type="text/javascript" src="js/roles.js"></script>
<script type="text/javascript" src="js/permissions.js"></script>
<script type="text/javascript" src="js/schema-controller.js"></script>
<script type="text/javascript" src="js/resources.js"></script>
<script type="text/javascript" src="js/rules.js"></script>
<script type="text/javascript" src="js/apiversions.js"></script>
<script type="text/javascript" src="js/authTokens.js"></script>
<script type="text/javascript" src="js/apidocs.js"></script>
<script type="text/javascript" src="js/logs.js"></script>
<script type="text/javascript" src="js/restlab.js"></script>
<script type="text/javascript" src="js/debug.js"></script>
<script type="text/javascript" src="js/perf.js"></script>
<script type="text/javascript" src="js/home.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/services/Storage.js"></script>
<script type="text/javascript" src="js/metadata.js"></script>
<script type="text/javascript" src="js/users.js"></script>
<script type="text/javascript" src="js/problems.js"></script>
<script type="text/javascript" src="js/customEndpoints.js"></script>
<script type="text/javascript" src="js/events.js"></script>
<script type="text/javascript" src="js/connectwizard.js"></script>
<script type="text/javascript" src="js/dataexplorer.js"></script>
<script type="text/javascript" src="js/learning.js"></script>
<script type="text/javascript" src="js/server.js"></script>
<script type="text/javascript" src="js/install.js"></script>

<script type="text/javascript" src="js/services/AsyncActive.js"></script>
<script type="text/javascript" src="js/services/Project.js"></script>
<script type="text/javascript" src="js/services/Delta.js"></script>
<script type="text/javascript" src="js/services/Notices.js"></script>

<script type="text/javascript" src="js/directives/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="js/directives/ng-multiselect.js"></script>
<script type="text/javascript" src="js/directives/projectOption.js"></script>
<script type="text/javascript" src="js/directives/ruleTopics.js"></script>
<script type="text/javascript" src="js/directives/topics/topics.js"></script>
<!-- endbuild -->

<script type="text/javascript">
	$(document).ready(function () {
		layoutProperties = {
			resizable: false,
			west: {
				size: 160,
				spacing_open: 0,
				spacing_closed: 25,
				togglerLength_closed: 25,
				togglerLength_open: 0,
				zIndex: 2,
				togglerContent_closed: "&#9658;",
			},
			east: {
				minSize: 200,
				size: 350,
				resizable: true,
				livePaneResizing: false,
				zIndex: 2,
				spacing_open: 11,
				spacing_closed: 20,
				togglerLength_closed: 40,
				togglerLength_open: 40,
				togglerContent_open: "&#9658;",
				togglerContent_closed:  "&#9668;",
				animatePaneSizing: false,
				fxSpeed_size: "fast",
				maskContents: true,
				fxSpeed_open: 400,
				fxSettings_open: { effect: "slide" },
				fxName_close: "slide",
				onopen_start: function() {
					if (window.event && window.event.target && 
							$(window.event.target).hasClass('content-closed')) {
						console.log("Opening help pane: " + JSON.stringify(window.event));
						localStorage.helpPaneOpen = "true";
					}
				},
				onclose_start: function() {
					if (window.event && window.event.target && 
							$(window.event.target).hasClass('content-open')) {
						console.log("Opening help pane: " + JSON.stringify(window.event));
						localStorage.helpPaneOpen = "false";
					}
				}
			},
			south: {
				closable: false,
				size: 45,
				zIndex: 2,
				spacing_open: 0
			},
			center: {
				zIndex: 2,
			},
			north: {
				closable: false,
				maskContents: true,
				size: 53,
				height: 53,
				zIndex: {
					// set z-index values here
					pane_normal: 99999
					, resizer_normal: 99999
					, iframe_mask: 99999
					, pane_sliding: 99999
					, pane_animate: 99999
					, resizer_drag: 99999
				},
				spacing_open: 0,
				showOverflowOnHover: false
			}
		};
		kahuna.layout = $('body').layout(layoutProperties);
		
		if (localStorage.helpPaneOpen == "false") {
			kahuna.layout.close('east');
		}

		/////////////////////////////////////////////////////////////
		// Layout for help pane
		var helpLayoutProperties = {
			name: 'helpLayout',
			animatePaneSizing: true,
			center: {
				paneSelector: '.helpLayout-north',
				closable: true,
				maskContents: true,
				resizable: true,
				size: 130,
				spacing_open: 10,
				spacing_closed: 14,
				togglerLength_closed: 40,
				togglerLength_open: 40,
				togglerContent_open: "&#9650;",
				togglerContent_closed:  "&#9660;",
			}
		};
		kahuna.helpLayout = $('#helpPane').layout(helpLayoutProperties);
	});
</script>
</head>
<body ng-cloak data-ng-app="admin" id="body"
	class="body  {{currentPage == 'home' && 'home-page' || ''}} {{isWelcomeModalOpen && 'welcome-open' || ''}}">
	<div ng-controller="kahuna.learning.LearningCtrl" id="learningDiv"></div>
	<div style="position: fixed; left: 300px; top: 5px; z-index: 100000;" id="MessageBox" data-ng-cloak>
		<div data-ng-repeat="alert in alerts" class="MessageBox Alert{{alert.type}}" id="alert{{$index}}">
			{{alert.msg}}
			<!-- <span class="MessageBoxClose" onclick="kahuna.util.closeAlert({{$index}})">&times;</span> -->
		</div>
	</div>
	<div id="navBarDiv" class="ui-layout-north">
		<div data-ng-include data-src="'components/navbar.html'"></div>
	</div>
	<div class="ui-layout-center">
		<div data-ng-view id="MainView"></div>
	</div>
	<div class="ui-layout-south" style="padding-left: 0px; padding-top: 2px; padding-bottom: 2px; color: #888888; font-size: 9pt;">
		<div class="margin-left-15">
			<b>Server:</b>&nbsp;{{currentServer}} ({{serverIp}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<b>Licensed to:</b>&nbsp;{{license.company}}
		</div>
		<div class="margin-left-15" style="padding-top: 3px;">
			<span><b>Account:</b>&nbsp;{{currentAccount.name}}</span>
			<span style="padding-left: 40px;"><b>User:</b>&nbsp;{{currentUserName}}</span>
			<span style="padding-left: 40px;"><b>Build:</b>&nbsp;2.1.xx .2292</span>
			<span style="padding-left: 40px;"><b>Status:</b></span>
			<span id="_statusBarStatus">{{fetchStatus}}</span>
		</div>
	</div>
	<div class="ui-layout-east" id="helpPane">
		<div id="helpDiv" style="width: 100%; overflow: auto;" class="helpLayout-north">
			<div style="background-color: #3d8da0; color: #fff; width: 99%; padding: 3px; font-weight: bold;" id="helpDivTitle">
				Context help
			</div>
			<div ng-include="contextHelpPage"></div>
		</div>
	</div>
	<div class="ui-layout-west" ng-controller="kahuna.home.NavCtrl">
		<div data-ng-include data-src="'components/sidebar.html'" id="sideBarDiv"></div>
	</div>

<div id="newProjectDialog" title="Create New Project" class="ui-helper-hidden">
	<label for="newProjectName">Name</label>
	<input type="text" class="input-lg" ng-model="data.newProjectName" />
</div>

<div id="unsavedPrompt" title="Unsaved Changes" class="ui-helper-hidden">
	You have unsaved changes.
</div>

<div id="newImportDialog" title="Import" class="ui-helper-hidden">
	<button class="importFileMask" onclick="$('#importFile').click()" type="button" class="btn btn-default">
		<i class="fa fa-upload"></i>&nbsp;Select file to upload</button>
	<form class="upload-form">
		<input class="disappear" type="file" id="importFile" class="btn" style="width: 200px; height: 175px;" file-change="importFileSelected" />
	</form>
	<br/><br/>
	<code class="import-file-name" style="font-size: 10pt; margin: 3px;" ng-show="importFileName">{{importFileName}}</code>
</div>

<div id="requireName" title="Create" class="ui-helper-hidden">
	<label for="name">Name</label>
	<input type="text" class="input-lg"/>
</div>
<div id="popupVideoContainer"><a href="" id="popupVideoLink"></a></div>
<div id="relogin" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<h3>Your credentials may have expired</h3>
			<p>CA Live API Creator is not successfully making requests. Your Auth Token may have expired</p>
			<button data-dismiss="modal" class="btn btn-default">Close</button> <button onclick="$('body').scope().logout();" class="btn btn-primary">Login</button>
		</div>
	</div>
</div>

<!-- build:css dest/css/logic-designer.css -->
<link type="text/css" rel="stylesheet" href="js/bootstrap/3.1.1/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="ui-layout/layout-default-1.3.0.css" media="screen" />
<link type="text/css" rel="stylesheet" href="css/jqueryui/smoothness/jquery-ui-1.10.0.custom.css" />
<link type="text/css" rel="stylesheet" href="css/bootstrap-multiselect.css" media="screen" />
<link type="text/css" rel="stylesheet" href="css/ui-bootstrap/selectize.css" media="screen" />
<link type="text/css" rel="stylesheet" href="js/bootstrap-tour/bootstrap-tour.css" media="screen" />
<link type="text/css" rel="stylesheet" href="js/magnific-popup/magnific-popup.css" media="screen" />

<link type="text/css" rel="stylesheet" href="js/jstree/themes/default/style.css" media="screen" />
<link type="text/css" rel="stylesheet" href="ng-grid/ng-grid.css" />
<link type="text/css" rel="stylesheet" href="highlight/github.css" />
<link type="text/css" rel="stylesheet" href="js/font-awesome/4.1.0/css/font-awesome.min.css">


<link type="text/css" rel="stylesheet" href="css/main.css" />
<link type="text/css" rel="stylesheet" href="css/angular-wizard.css" />
<link type="text/css" rel="stylesheet" href="js/ui-select/select.css" />
<link type="text/css" rel="stylesheet" href="js/ui-select/select2.css">
<!-- endbuild -->

</body>
</html>
