<div class="connect-wizard-modal">
<div class="modal-header el-connwiz-modal-header" id="connectModalHeader">
		<!--<img class="brand-image" src="images/ca-logo.png" />-->
		<h2 class="product-title margin-0">Database Connect</h2>
		</span>
	<div class="dismiss-box btn-group btn-group-sm margin-3">
		<button type="button" class="btn btn-sm btn-primary" ng-click="finishedWizard();"><i class="fa fa-times"></i></button>
	</div>
</div>
<div class="modal-body">

<wizard on-finish="finishedWizard()" hide-indicators="true" name="Connect Wizard">

	<wz-step>
		<div class="row">
			<div class="col-xs-3">
				<div ng-include="'components/wizard-steps-template.html'"
					ng-init="steps=[{title:'Type',active:true},{title:'Connection'},{title:'Project Setup'}]"></div>
			</div>
			<div class="col-xs-9">
				<div ng-show="data.guidedTour">
					<p>Welcome to {{brandPossiveName}} {{productFullName}}.
					This is the Connect Wizard</em>.
					Its purpose is to guide you
					through the connection process.</p>
					<p>We <strong>recommend</strong> you first connect to the sample
					Northwind database to explore {{productSlimName}}'s interface.</p>
				</div>
				<div ng-hide="data.guidedTour">
					Select a database type or the pre-configured database.
				</div>
				<h5>Example Database</h5>
				<div class="btn-group">
					<button class="btn btn-primary btn-connectwizard" wz-next
						ng-disabled="!isNorthwindDerby"
						id="ConnectToNorthwindButton"
						ng-click="precreateNorthwindDerby();"><i class="fa fa-graduation-cap"></i>&nbsp;Northwind</button>
				</div>

				<i ng-show="!isNorthwindDerby"
					class="fa display-inline fa-question-circle ContextHelpButton"
					ng-click="helpDialog('database', 'NorthwindInaccessible')"></i>
				<h5>Database type:</h5>
				<table>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[1].available"
								ng-class="{disabled: !dbaseTypesByIdent[1].available}"
								ng-click="createMySQL();">MySQL</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[1].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[5].available"
								ng-class="{disabled: !dbaseTypesByIdent[5].available}"
								ng-click="createSQLServer();">SQL Server</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[5].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[2].available"
								ng-class="{disabled: !dbaseTypesByIdent[2].available}"
								ng-click="createOracle();">Oracle</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[2].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-class="{disabled: !dbaseTypesByIdent[18].available}"
								ng-click="createDB2zOS();">DB2 for z/OS</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[18].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[19].available"
								ng-class="{disabled: !dbaseTypesByIdent[19].available}"
								ng-click="createDB2LUW();">DB2 for LUW</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[19].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[6].available"
								ng-class="{disabled: !dbaseTypesByIdent[6].available}"
								ng-click="createAzureSQL();">Azure SQL</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[6].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[17].available"
								ng-class="{disabled: !dbaseTypesByIdent[17].available}"
								ng-click="createDerby();">JavaDB/Derby</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[17].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[8].available"
								ng-class="{disabled: !dbaseTypesByIdent[8].available}"
								ng-click="createPostgreSQL();">PostgreSQL</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[8].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="!dbaseTypesByIdent[7].available"
								ng-class="{disabled: !dbaseTypesByIdent[7].available}"
								ng-click="createNuoDBSQL();">NuoDB</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[7].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-click="createJNDI();">JNDI data source</button>
						</td>
						<td>
							<i class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'JNDI')"></i>
						</td>
					</tr>
<!--
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="data.guidedTour || !dbaseTypesByIdent[15].available"
								ng-class="{disabled: !dbaseTypesByIdent[15].available}"
								ng-click="createVerticaSQL();">HP Vertica</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[15].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="data.guidedTour || !dbaseTypesByIdent[16].available"
								ng-class="{disabled: !dbaseTypesByIdent[16].available}"
								ng-click="createRSSBusSalesforce();">Salesforce (RSSBus)</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[16].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-disabled="data.guidedTour || !dbaseTypesByIdent[10].available"
								ng-class="{disabled: !dbaseTypesByIdent[10].available}"
								ng-click="createPervasive();">Pervasive</button>
						</td>
						<td>
							<i ng-show="!dbaseTypesByIdent[10].available"
								class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'DriverNotAvailable')"></i>
						</td>
					</tr>
 -->
 <!-- 
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-click="createGenericJdbc();">Generic JDBC</button>
						</td>
						<td>
						</td>
					</tr>
-->
					<tr>
						<td>
							<button class="btn btn-default btn-block btn-connectwizard" wz-next
								ng-click="createEmptyProject();">No database</button>
						</td>
						<td>
							<i class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'CreateNoDatabase')"></i>
						</td>
					</tr>
				</table>
				<div class="" ng-show="data.guidedTour">
					<br>
				</div>
			</div>
		</div>
	</wz-step>
	<wz-step title="Specify">
		<div class="row">
			<div class="col-xs-3">
				<div ng-include="'components/wizard-steps-template.html'"
					ng-init="steps=[{title:'Type'},{title:'Connection',active:true},{title:'Project Setup'}]"></div>
			</div>
			<div class="col-xs-9">
		<form name="specify" class="specify-db-form" ng-submit="testOnly();">
		<div ng-show="data.special !== strGeneric && data.dbtype === 'MySQL'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr>
					<td align="right"><label for="mySqlHost">Host:&nbsp;</label></td>
					<td align="left" width="400px">
						<input class="form-control" ng-blur="checkReachability(data.host)" id="mySqlHost" type="text" autocomplete="off"
							ng-disabled="data.special" ng-model="$parent.data.host">
					</td>
				</tr>
				<tr>
					<td align="right"><label for="mySqlPort">Port:&nbsp;</label></td>
					<td align="left">
						<input class="form-control" id="mySqlPort" type="text" autocomplete="off" ng-blur="checkReachability(data.host, data.port)"
							ng-disabled="data.special" ng-model="$parent.data.port">
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td align="right"><label for="mySqlUsername">Username:&nbsp;</label></td>
					<td align="left">
						<input class="form-control" id="mySqlUsername" type="text" autocomplete="off" ng-disabled="data.special"
							ng-model="$parent.data.username">
					</td>
				</tr>
				<tr>
					<td align="right"><label for="mySqlPassword">Password:&nbsp;</label></td>
					<td align="left">
						<input class="form-control" id="mySqlPassword" type="text" autocomplete="off" ng-disabled="data.special"
							ng-model="$parent.data.password">
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td align="right"><label for="mySqlDatabase">Database:&nbsp;</label></td>
					<td align="left">
						<input class="form-control" id="mySqlDatabase" type="text" autocomplete="off" ng-disabled="data.special"
							ng-model="$parent.data.catalog">
					</td>
				</tr>
				<tr>
					<td align="right"> </td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'Oracle'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr><td align="right"><label for="oracleHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="oracleHost" type="text" autocomplete="off" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="oraclePort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="oraclePort" type="text" autocomplete="off" ng-model="data.port"></td></tr>
				<tr><td align="right"><label for="oracleSID">SID:&nbsp;</label></td><td align="left"><input class="form-control" id="oracleSId" type="text" autocomplete="off" ng-model="data.sid"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="oracleSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="oracleSchema" type="text" autocomplete="off" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="oracleUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="oracleUsername" type="text" autocomplete="off" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="oraclePassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="oraclePassword" type="text" autocomplete="off" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'DB2 for z/OS'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr><td align="right"><label for="db2zosHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="db2zosHost" type="text" autocomplete="off" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="db2zosPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="db2zosPort" type="text" autocomplete="off" ng-model="data.port"></td></tr>
				<tr><td align="right"><label for="db2zosLocation">Location:&nbsp;</label></td><td align="left"><input class="form-control" id="db2zosLocation" type="text" autocomplete="off" ng-model="data.db2zoslocation"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="db2zosSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="db2zosSchema" type="text" autocomplete="off" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="db2zosUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="db2zosUsername" type="text" autocomplete="off" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="db2zosPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="db2zosPassword" type="text" autocomplete="off" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'DB2 for LUW'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr><td align="right"><label for="db2luwHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="db2luwHost" type="text" autocomplete="off" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="db2luwPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="db2luwPort" type="text" autocomplete="off" ng-model="data.port"></td></tr>
				<tr><td align="right"><label for="db2luwDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="db2luwDatabase" type="text" autocomplete="off" ng-model="data.db2luwdatabase"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="db2luwSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="db2luwSchema" type="text" autocomplete="off" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="db2luwUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="db2luwUsername" type="text" autocomplete="off" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="db2luwPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="db2luwPassword" type="text" autocomplete="off" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'SQLServer'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr>
					<td align="right"><label for="sqlserverHost">Host:&nbsp;</label></td>
					<td align="left" width="400px">
						<input class="form-control" class="form-control" id="sqlserverHost" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.host">
					</td>
				</tr>
				<tr><td align="right"><label for="sqlserverPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="sqlserverPort" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="sqlserverDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="sqlserverDatabase" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.catalog"></td></tr>
				<tr><td align="right"><label for="sqlserverSchema">Schema/Owner:&nbsp;</label></td><td align="left"><input class="form-control" id="sqlserverSchema" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="sqlserverUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="sqlserverUsername" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="sqlserverPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="sqlserverPassword" type="text" autocomplete="off" ng-disabled="data.guidedTour || data.special" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'AzureSQL'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<div ng-show="data.special">This is a sample database, so the fields are not editable.<br><br></div>
			<table>
				<tr><td align="right"><label for="azuresqlHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="azuresqlHost" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="azuresqlPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="azuresqlPort" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="azuresqlDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="azuresqlDatabase" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.catalog"></td></tr>
				<tr><td align="right"><label for="azuresqlSchema">Schema/Owner:&nbsp;</label></td><td align="left"><input class="form-control" id="azuresqlSchema" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="azuresqlUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="azuresqlUsername" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="azuresqlPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="azuresqlPassword" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'Derby'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="derbyUrl">URL:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="derbyUrl" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.url"></td></tr>
				<tr><td align="right"><label for="derbySchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="derbySchema" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'NuoDB (beta)'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="nuodbHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="nuodbHost" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="nuodbPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="nuodbPort" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="nuodbDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="nuodbDatabase" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.catalog"></td></tr>
				<tr><td align="right"><label for="nuodbSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="nuodbSchema" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="nuodbUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="nuodbUsername" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="nuodbPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="nuodbPassword" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'PostgreSQL'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="pgHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="pgHost" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="pgPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="pgPort" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="pgDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="pgDatabase" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.catalog"></td></tr>
				<tr><td align="right"><label for="pgSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="pgSchema" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="pgUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="pgUsername" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="pgPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="pgPassword" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'Vertica Database'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="vHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="vHost" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="vPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="vPort" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="vDatabase">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="vDatabase" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.catalog"></td></tr>
				<tr><td align="right"><label for="vSchema">Schema:&nbsp;</label></td><td align="left"><input class="form-control" id="vSchema" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="vUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="vUsername" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="vPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="vPassword" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'Salesforce (RSSBus)'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="username">User name:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="username" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="password">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="password" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="securitytoken">Security token:&nbsp;</label></td><td align="left"><input class="form-control" id="securitytoken" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.securitytoken"></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special !== strGeneric && data.dbtype === 'Pervasive PSQL (beta)'">
			<h4>Connection Parameters:</h4>
			{{data.dbdescription}}<br><br>
			<table>
				<tr><td align="right"><label for="username">User name:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="username" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="password">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="password" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.password"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="pvHost">Host:&nbsp;</label></td><td align="left" width="400px"><input class="form-control" id="pgHost" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.host"></td></tr>
				<tr><td align="right"><label for="pvPort">Port:&nbsp;</label></td><td align="left"><input class="form-control" id="pgPort" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.port"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="pvCatalog">Database:&nbsp;</label></td><td align="left"><input class="form-control" id="pvCatalog" type="text" autocomplete="off" ng-disabled="data.special" ng-model="data.catalog"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.dbtype === 'JNDI'">
			<h4>JNDI data source</h4>
			<table>
				<tr>
					<td align="right"><label for="dsName">Name:&nbsp;<i class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('database', 'JNDIName')"></i>&nbsp;</label></td>
					<td align="left" width="250px">
						<input class="form-control" id="dsName" type="text" autocomplete="off" 
							ng-disabled="data.special" ng-model="data.datasource_name"
							autofocus="autofocus">
						
					</td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="data.special === strGeneric">
			<h4>Connection Parameters:</h4>
			<table>
				<tr>
					<td align="right"><label for="jdbcDbType">Driver:&nbsp;</label></td>
					<td>{{dropdownDbType}}
						<select id="jdbcDbType" class="form-control" ng-model="data.dropdownDbType"
							ng-options="d.name for d in dbaseTypes"
							ng-change="dbtypeSelected()">
							<option value="">-- Select a Database Driver --</option>
						</select>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="jdbcUsername">Username:&nbsp;</label></td><td align="left"><input class="form-control" id="jdbcUsername" type="text" autocomplete="off" ng-model="data.username"></td></tr>
				<tr><td align="right"><label for="jdbcPassword">Password:&nbsp;</label></td><td align="left"><input class="form-control" id="jdbcPassword" type="text" autocomplete="off" ng-model="data.password"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr ng-show="data.jdbcCatalogTerm"><td align="right"><label for="jdbcCatalog">{{data.jdbcCatalogTerm}}:&nbsp;</label></td><td align="left"><input class="form-control" id="jdbcCatalog" type="text" autocomplete="off" ng-model="data.catalog"></td></tr>
				<tr ng-show="data.jdbcSchemaTerm"><td align="right"><label for="jdbcSchema">{{data.jdbcSchemaTerm}}:&nbsp;</label></td><td align="left"><input class="form-control" id="jdbcSchema" type="text" autocomplete="off" ng-model="data.schema"></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td align="right"><label for="jdbcUrl">JDBC URL:&nbsp;</label></td><td align="left"><textarea class="form-control" id="jdbcUrl" rows="8" cols="60" max-length="3000" autocomplete="off" ng-model="data.url"></textarea></td></tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="left">
						<input type="checkbox" ng-init="$root.createSampleElements = false" id="sampleCreationCheckbox" ng-click="$root.createSampleElements = !$root.createSampleElements"/>
						<label for="sampleCreationCheckbox">Create Sample Rule &amp; Resources</label>
					</td>
				</tr>
			</table>
		</div>
		<br><br>
		<div class="el-connwiz-left-align">
			<input  class="btn btn-sm btn-blank" type="button" value="Back" ng-disabled="buttonDisable.back" ng-click="backSelected();" />
		</div>
		<div class="el-connwiz-right-align">
			<input class="btn btn-sm btn-blank" type="button" value="Test Connection" ng-disabled="buttonDisable.test" ng-click="testOnly();" />
			<input class="btn btn-sm btn-primary" type="submit" value="Continue" ng-disabled="buttonDisable.testContinue" ng-click="testAndProceed();" id="dbConnectContinue" />
		</div>
		<br><br>
		<div align="center" ng-show="data.testInProgress">{{data.testInProgress}}</div>
		<div ng-show="data.latencyMilliseconds">
			<div align="center">Round-trip time to database: <span style="background-color: {{data.latencyColorCode}};"> {{data.latencyMilliseconds}}ms </span></div>
			<div align="center">{{data.latencySummary}}</div>
		</div>
		</form>
		</div>
		</div>
	</wz-step>
	<wz-step>
		<div class="row">
			<div class="col-xs-3">
				<div ng-include="'components/wizard-steps-template.html'"
					ng-init="steps=[{title:'Type'},{title:'Connection'},{title:'Project Setup',active:true}];"></div>
			</div>
			<div class="col-xs-9">
		Your database is now being connected to {{productFullName}}&mdash;this shouldn't take long.
		<br><br>
		A new project <strong>{{data.newProjectName}}</strong> has been created.
		<br><br>
		<strong>Status</strong>
		<div ng-show="data.doneButtonHideCount > 0">{{statusMessage}}</div>
		<div ng-hide="data.doneButtonHideCount > 0">
			<table align="center">
				<tr><td align="right">{{data.tableCount}}</td><td align="left">&nbsp;Tables</td></tr>
				<tr><td align="right">{{data.viewCount}}</td><td align="left">&nbsp;Views</td></tr>
				<tr><td align="right">{{data.procCount}}</td><td align="left">&nbsp;Procedures</td></tr>
				<tr><td align="right">{{data.fkeyCount}}</td><td align="left">&nbsp;Foreign Keys</td></tr>
				<tr><td align="right">{{data.columnCount}}</td><td align="left">&nbsp;Columns</td></tr>
				<tr><td align="right">{{data.latencyMilliseconds}}</td><td align="left">&nbsp;Latency (msec)</td></tr>
			</table>
			<input class="btn btn-sm btn-primary el-connwiz-right-align" type="submit"
				ng-disabled="buttonDisable.done" on-finish="$parent.controls.successfullyCompleteWizard();"
				style="width:14em; margin-left: 10px;" wz-finish="controls.successfullyCompleteWizard();" id="connectWizardDoneButton" value="Proceed to API Properties" />
			<input class="btn btn-sm el-connwiz-right-align" type="button"
				ng-disabled="buttonDisable.done" on-finish="$parent.controls.successfullyCompleteWizard(true, '/restlab');"
				wz-finish="controls.successfullyCompleteWizard(true, '/restlab');" id="connectWizardDoneButton" value="Proceed to API REST Lab" />
			<br>
		</div>
		</div>
		</div>
	</wz-step>
</wizard>
</div>
</div>
