<div class="row">
	<div class="col-md-3">
		<div class="ScrollableListHeader">Events</div>
		<div class="ScrollableListControlHeader btn-horizontal-2"><button type="button" class="btn btn-list-control btn-xs" ng-click="createHandler()">
				<span class="fa fa-plus-circle ScrollableListControl"></span>
				Add
			</button><button type="button" class="btn btn-list-control btn-xs" ng-click="deleteHandler()" ng-disabled="!selectedHandler">
				<span class="fa fa-minus-circle ScrollableListControl"></span>
				Delete
			</button></div>
		<select size="20" ng-model="selectedHandler" ng-change="handlerSelected()"
			ng-options="handler.name for handler in handlers"
			style="width:100%; margin-right: 5px;"></select>
	</div>
	<div class="col-md-9">
		<form role="form">
			<div class="form-group">
				<label for="eventType">
					Event type:
					<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('events', 'EventType')"></i>
				</label>
				<select size="1" id="eventType" ng-model="selectedHandler.eventtype_ident" class="form-control">
					<option value="1">Request event</option>
					<option value="2">Response event</option>
				</select>
			</div>
			<div class="form-group">
				<label for="handlerName">Event Handler name:</label>
				<input type="text" class="form-control" ng-model="selectedHandler.name"
					placeholder="Handler name" id="handlerName" />
			</div>
			<div class="form-group">
				<label for="handlerJSCode">Code:</label>
				<pre id="handlerJSCode" class="form-control" style="height: 20em;"></pre>
				<a href="http://ca-doc.espressologic.com/docs/reference" target="_blank">Reference</a>
			</div>
			<div class="form-group">
				<label for="handlerActive">
					<input type="checkbox" ng-model="selectedHandler.active" id="handlerActive" />
					Active
				</label>
				<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('events', 'Active')"></i>
			</div>
			<div class="form-group">
				<label for="handlerComments">Comments:</label>
				<textarea cols="60" rows="3" ng-model="selectedHandler.description" id="handlerComments" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary" ng-click="saveHandler()">Save</button>
		</form>
	</div>
</div>
