<div class="row">
		<h3>Problems
		<span class="pull-right">
			<button class="btn btn-default" ng-click="verifyProject(selectFirstProblem)" style="margin-left: 20px;">Verify</button>
			<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectVerify')"></i>
		</span>
		</h3>

	<div class="col-md-12">
		<div style="width: 100%; height: 300px; border: solid 1px #AAAAAA;" class="ScrollableList form-control margin-10">
			<div ng-repeat="(problemIdent, problem) in problems" ng-click="problemSelected(problem)"
				ng-class="getProblemClass(problem)">
				{{problem.description}}
				<button class="btn btn-xs" ng-click="showProblem(problem)" ng-show="problem.ProblemType.can_be_shown">Show</button>
				<button class="btn btn-xs" ng-click="fixProblem(problem)" ng-show="problem.ProblemType.has_defaultfix">Fix</button>
				<button class="btn btn-xs" ng-click="closeProblem(problem)">Close</button>
			</div>
			<button class="btn btn-link" ng-show="data.nextBatch" ng-click="showNextBatch()">Show more problems</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table style="width: 100%; padding: 4px;">
			<tr>
				<td style="text-align: right; width: 10%; vertical-align: top; padding-top: 17px;">Problem type:</td>
				<td><textarea ng-model="data.selectedProblemType.name" style="width: 100%; word-wrap:normal;"
					rows="3" class="uneditable-input form-control margin-10"></textarea></td>
			</tr>
			<tr>
				<td style="text-align: right; vertical-align: top; padding-top: 17px;">Problem:</td>
				<td><textarea ng-model="data.selectedProblem.description" style="width: 100%; word-wrap:normal;"
					rows="3" class="uneditable-input form-control margin-10"></textarea></td>
			</tr>
			<tr>
				<td style="text-align: right; vertical-align: top; padding-top: 17px;">Description:</td>
				<td><textarea ng-model="data.selectedProblemType.full_description" style="width: 100%; word-wrap:normal;"
					rows="3" class="uneditable-input form-control margin-10"></textarea></td>
			</tr>
			<tr>
				<td style="text-align: right; vertical-align: top; padding-top: 17px;">Default fix:</td>
				<td><textarea ng-model="data.selectedProblemType.defaultfix_description" style="width: 100%; word-wrap:normal;"
					rows="3" class="uneditable-input form-control margin-10"></textarea></td>
			</tr>
		</table>
	</div>
</div>
