<div class="row SingleRowView" ng-init="initProject();">

	<table style="height: 100%; width: 100%;">
		<tr style="height: 100%;">
			<td style="height: 100%; min-width: 250px; vertical-align: top; padding-left: 5px;">
				<tabset>
					<tab heading="Details">
						<form role="form" style="padding-top: 10px;">
							<div class="form-group">
								<label for="projName">
									API name:
									<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectName')"></i>
								</label>
								<input class="form-control" type="text" class="form-control" ng-model="selectedProj.name" id="projName" />
							</div>
							<div class="form-group">
								<table>
									<tr>
										<td>
											<label for="projUrlName" class="control-label">
												URL fragment:
												<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectURLName')"></i>
											</label>
											<input class="form-control" type="text" class="form-control" ng-model="selectedProj.url_name" id="projUrlName" />
										</td>
										<td style="padding-left: 30px;">
											<label>
												<input id="projActive" type="checkbox" ng-model="selectedProj.is_active" />
												API is {{selectedProj.is_active ? 'enabled' : 'disabled'}}
											</label>
											<i class="fa fa-question-circle ContextHelpButton"
												ng-click="helpDialog('project', 'ProjectActive')"></i>
										</td>
									</tr>
								</table>
							</div>
							<div class="form-group">
								<label for="projAuthProv" class="control-label">
									Authentication provider:
									<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectAuth')"></i>
								</label>
								<select class="form-control" size="1" style="min-width: 100px;" ng-model="selectedProj.authprovider_ident"
										ng-options="ap.ident as ap.name for ap in data.authProviders" class="form-control">
									<option value="">-- None --
								</select>
							</div>
							<div class="form-group">
								<label for="projComments" class="control-label">Comments:</label>
								<textarea class="form-control" cols="50" rows="5" ng-model="selectedProj.comments" id="projComments" class="form-control"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" ng-click="saveProject()">Save</button>
								&nbsp;
								<button class="btn btn-default" ng-click="exportProject()" ng-disabled="!selectedProj" style="margin-left: 20px;">Export</button>
								<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectExport')"></i>
								&nbsp;

								<button class="btn btn-default" ng-click="verifyProject()" style="margin-left: 20px;">Verify</button>
								<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectVerify')"></i>
								&nbsp;&nbsp;
								<button class="btn btn-default" ng-click="snapshotProject()" style="margin-left: 20px;">Snapshot</button>
								<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'ProjectSnapshot')"></i>
								&nbsp;&nbsp;
								<button class="btn btn-warning" ng-click="deleteProject()" id="projectDeleteButton">Delete</button>
							</div>
						</form>
					</tab>
					<tab heading="Settings"v>
						<form class="form-horizontal" style="padding-top: 10px;">
							<table>
								<tr ng-repeat="optionType in optionTypes" style="border-bottom: solid 1px #DDDDDD;">
									<td style="padding: 5px;">
										<label for="optionType{{optionType.ident}}">
											{{optionType.name}}
										</label>
									</td>
									<td style="padding: 5px;">
										<project-option option-type="optionType" option-values="projectOptionValues"
											option-type-enums="optionTypeEnums"/>
									</td>
									<td style="padding: 5px;">
										<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('project', 'Option'+optionType.ident)"></i>
									</td>
								</tr>
							</table>
							<button class="btn btn-primary" ng-click="saveProjectOptions()" style="margin-left: 20px;">Save</button>
						</form>
					</tab>
					<tab heading="Libraries">
						<div style="overflow: auto;">
							<tabset>
								<tab heading="System libraries">
									<table class="table table-striped table-bordered table-condensed table-hover">
										<thead style="font-weight: bold; background-color: #BBBBBB;">
											<tr>
												<td>Used</td>
												<td>Name</td>
												<td>Version</td>
												<td>Description</td>
												<td>Links</td>
											</tr>
										</thead>
										<tr ng-repeat="lib in data.libs" ng-class-even="LibraryTableRowEven" ng-class-odd="LibraryTableRowOdd">
											<td><input type="checkbox" ng-model="data.usedLibs[lib.ident]"/></td>
											<td>{{lib.name}}</td>
											<td>{{lib.version}}</td>
											<td>{{lib.description}}</td>
											<td>
												<div ng-show="lib.doc_url" >
													<a class="link" href="{{lib.doc_url}}" target="_blank">Docs</a>
													<br/>
												</div>
												<a class="link" ng-show="lib.ref_url" href="{{lib.ref_url}}" target="_blank">Refs</a>
											</td>
										</tr>
									</table>
								</tab>
								<tab heading="Your libraries">
									<table class="table table-striped table-bordered table-condensed table-hover">
										<thead style="font-weight: bold; background-color: #BBBBBB;">
											<tr>
												<td>&nbsp;</td>
												<td>Used</td>
												<td>Name</td>
												<td>Version</td>
												<td>Description</td>
												<td>Links</td>
											</tr>
										</thead>
										<tr ng-repeat="lib in data.acctlibs" ng-class-even="LibraryTableRowEven" ng-class-odd="LibraryTableRowOdd">
											<td style="width: 6em;">
												<a class="fa fa-minus" title="Delete this library"
														style="cursor: pointer; padding-right: 20px;" ng-click="deleteLib(lib)"></a>
												<a style="cursor: pointer;" ng-click="editLib(lib)">Edit</a>
											</td>
											<td><input type="checkbox" ng-model="data.usedLibs[lib.ident]"/></td>
											<td>{{lib.name}}</td>
											<td>{{lib.version}}</td>
											<td>{{lib.description}}</td>
											<td>
												<div ng-show="lib.doc_url" >
													<a class="link" href="{{lib.doc_url}}" target="_blank">Docs</a>
													<br/>
												</div>
												<a class="link" ng-show="lib.ref_url" href="{{lib.ref_url}}" target="_blank">Refs</a>
											</td>
										</tr>
									</table>
									<button class="btn btn-default" ng-click="createLib()">Create new library</button>
								</tab>
							</tabset>
						</div>
						<button class="btn btn-primary" ng-click="saveLibs()">Save</button>
						<!-- <button class="btn btn-default" ng-click="uploadLibrary()">Upload new library</button> -->
					</tab>
					<tab >
					   <tab-heading class="topics-tab">Topics</tab-heading>
					   <tab-body>
					   <div>
					   	<topics></topics>
					   </div>
					   </tab-body>
					</tab>
					<tab heading="Filters" active="data.filtersVisible">
					   <tab-heading class="topics-tab">Filters</tab-heading>
						<table style="height: 100%; width: 100%;">
							<tr style="height: 100%;">
								<td class="ResizableTd" id="authListTd" style="min-width: 100px;">
									<div class="ScrollableList btn-horizontal-2" style="width: 100%;">
										<div class="ScrollableListHeader">User filters</div>
										<div class="ScrollableListControlHeader"><button type="button" class="btn btn-list-control btn-xs"
													ng-click="createFilter();">
												<span class="fa fa-plus-circle ScrollableListControl"></span>
												Add
											</button><button type="button" class="btn btn-list-control btn-xs"
													ng-click="deleteFilter();"
													ng-disabled="!data.currentFilter">
												<span class="fa fa-minus-circle ScrollableListControl"></span>
												Delete
											</button></div>
										<div class="ResizableColumn">
											<select size="15" class="ObjectList" id="filterList" style="min-width: 100%;" ng-model="data.currentFilter"
													ng-options="filter.name for filter in data.filters">
											</select>
										</div>
									</div>
								</td>
								<td class="ResizableBodyTd">
									<div class="row">
										<table style="width: 100%;">
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="filterName">Filter name:</label></td>
												<td><input class="form-control" type="text" size="50" maxlength="200" id="filterName"
													ng-model="data.currentFilter.name"/>
												</td>
											</tr>
											<tr>
											 <td> </td>
											     <td>
													<a ng-click="helpDialog('project', 'Filters')" style="cursor: pointer; margin:5px 0 -5px 0;display:block;">What is a user filter?</a><br/>
												</td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="filterDescription">Description:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="filterDescription" rows="2" style="resize: both; width: 70%;"
													ng-model="data.currentFilter.description"></textarea></td>
											</tr>
											<tr><td colspan="2">&nbsp;</td></tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="filterResources">Resources:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="filterResources" rows="2" style="resize: both; width: 70%;"
													ng-model="data.currentFilter.resource_names" aria-describedby="filterResHint"></textarea>
													<span id="filterResHint" style="font-size: x-small; margin-bottom: 12px;">Comma-separated list of tables/resources (optional)</span>
													<br/>
												</td>
											</tr>
											<tr><td colspan="2">&nbsp;</td></tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="filterText">Filter:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="filterText" rows="3" style="resize: both; width: 70%;"
													ng-model="data.currentFilter.filter_text" aria-describedby="filterTextHint"></textarea>
													<span id="filterTextHint" style="font-size: x-small;">Sample filter: <code>cust_bal &lt; {balance} or cust_status in ('A', {status})</code></span>
												</td>
											</tr>
										</table>
									</div>
									<br/>
									<button class="btn btn-primary" style="margin-left: 40px;" ng-click="saveFilter()">Save</button>
								</td>
							</tr>
						</table>
					</tab>
					<tab heading="Sorts" active="data.sortsVisible">
					   <tab-heading class="topics-tab">Sorts</tab-heading>
						<table style="height: 100%; width: 100%;">
							<tr style="height: 100%;">
								<td class="ResizableTd" style="min-width: 100px;">
									<div class="ScrollableList btn-horizontal-2" style="width: 100%;">
										<div class="ScrollableListHeader">User sorts</div>
										<div class="ScrollableListControlHeader"><button type="button" class="btn btn-list-control btn-xs"
													ng-click="createSort();">
												<span class="fa fa-plus-circle ScrollableListControl"></span>
												Add
											</button><button type="button" class="btn btn-list-control btn-xs"
													ng-click="deleteSort();"
													ng-disabled="!data.currentSort">
												<span class="fa fa-minus-circle ScrollableListControl"></span>
												Delete
											</button></div>
										<div class="ResizableColumn">
											<select size="15" class="ObjectList" id="orderList" style="min-width: 100%;" ng-model="data.currentSort"
													ng-options="sort.name for sort in data.sorts">
											</select>
										</div>
									</div>
								</td>
								<td class="ResizableBodyTd">
									<div class="row">
										<table style="width: 100%;">
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="sortName">Sort name:</label></td>
												<td><input class="form-control" type="text" size="50" maxlength="200" id="sortName"
													ng-model="data.currentSort.name"/>
												</td>
											</tr>
											<tr>
											 <td> </td>
											     <td>
													<a ng-click="helpDialog('project', 'Sorts')" style="cursor: pointer; margin:5px 0 -5px 0;display:block;">What is a user sort?</a><br/>
												</td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="sortDescription">Description:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="sortDescription" rows="2" style="resize: both; width: 70%;"
													ng-model="data.currentSort.description"></textarea></td>
											</tr>
											<tr><td colspan="2">&nbsp;</td></tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="sortResources">Resources:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="sortResources" rows="2" style="resize: both; width: 70%;"
													ng-model="data.currentSort.resource_names" aria-describedby="sortResHint"></textarea>
													<span id="sortResHint" style="font-size: x-small; margin-bottom: 12px;">Comma-separated list of tables/resources (optional)</span>
													<br/>
												</td>
											</tr>
											<tr><td colspan="2">&nbsp;</td></tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="sortText">Order by:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="sortText" rows="3" style="resize: both; width: 70%;"
													ng-model="data.currentSort.sort_text" aria-describedby="sortTextHint"></textarea>
													<span id="sortTextHint" style="font-size: x-small;">Sample: <code>round({att1}) + abs({att2}) desc</code></span>
												</td>
											</tr>
										</table>
									</div>
									<br/>
									<button class="btn btn-primary" style="margin-left: 40px;" ng-click="saveSort()">Save</button>
								</td>
							</tr>
						</table>
					</tab>
					<tab heading="Latest changes" active="data.auditVisible">
						<tab-heading class="topics-tab">Latest changes</tab-heading>
						<div class="panel panel-default">
							<div class="panel-body">
								Here are the latest changes in this API.
								<div style="float: right;">
									<label for="numAudits">Max&nbsp;records:&nbsp;</label>
									<select ng-model="data.numAudits" id="numAudits">
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="200">200</option>
										<option value="500">500</option>
									</select>
									<button class="btn btn-sm" ng-click="getAudits()">Refresh</button>
								</div>
							</div>
						</div>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Action</th>
									<th>Object</th>
									<th>ID</th>
									<th>Time</th>
									<th>User</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in data.LatestAudits">
								<tr>
									<td style="padding: 5px;">
										{{item.action}}
									</td>
									<td style="padding: 5px;">
										{{item.table_name}}
									</td>
									<td style="padding: 5px;">
										{{item.pk}}
									</td>
									<td style="padding: 5px;">
										{{item.ts}}
									</td>
									<td style="padding: 5px;">
										{{item.user_name}}
									</td>
									<td>
										<button class="btn btn-link" id="auditDetailButton{{item.ident}}" ng-click="flipAuditDetail(item.ident)">Show details</button>
									</td>
								</tr>
								<tr ng-show="data.showAudit[item.ident]">
									<td style="text-align: right;">Values:</td>
									<td colspan="5" style="background-color: #DDDDDD;">
										<pre>{{item.new_values}}</pre>
									</td>
								</tr>
								<tr ng-show="data.showAudit[item.ident] && item.old_values">
									<td style="text-align: right;">Old values:</td>
									<td colspan="5" style="background-color: #BBBBBB;">
										<pre>{{item.old_values}}</pre>
									</td>
								</tr>
							</tbody>
						</table>
					</tab>
					<tab heading="Snapshots">
						<table style="height: 100%; width: 100%;">
							<tr style="height: 100%;">
								<td class="ResizableTd" style="min-width: 100px;">
									<div class="ScrollableList btn-horizontal-2" style="width: 100%;">
										<div class="ScrollableListHeader">Snapshots</div>
										<div class="ScrollableListControlHeader"><button type="button" class="btn btn-list-control btn-xs"
													ng-click="snapshotProject();">
												<span class="fa fa-plus-circle ScrollableListControl"></span>
												Create snapshot
											</button><button type="button" class="btn btn-list-control btn-xs"
													ng-click="deleteSnapshot();"
													ng-disabled="!data.currentSnapshot">
												<span class="fa fa-minus-circle ScrollableListControl"></span>
												Delete snapshot
											</button></div>
										<div class="ResizableColumn">
											<select size="15" class="ObjectList" id="orderList" style="min-width: 100%;" ng-model="data.currentSnapshot"
													ng-options="snapshot.version_datetime + ' ' + snapshot.name for snapshot in data.snapshots">
											</select>
										</div>
									</div>
								</td>
								<td class="ResizableBodyTd">
									<div class="row">
										<table style="width: 100%;">
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="snapshotName">Snapshot name:</label></td>
												<td><input class="form-control" type="text" size="50" maxlength="200" id="snapshotName"
													ng-model="data.currentSnapshot.name"/>
												</td>
											</tr>
											<tr>
											 <td> </td>
											     <td>
													<p class="ContextHelpButton" ng-click="helpDialog('project', 'Snapshots')" style="cursor: pointer; margin:5px 0 -5px 0; display:block; color: #4488CF !important;">What is a snapshot?</p><br/>
												</td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="snapshotDescription">Description:</label></td>
												<td><textarea class="form-control" maxlength="5000" id="snapshotDescription" rows="4" style="resize: both; width: 70%;"
													ng-model="data.currentSnapshot.description"></textarea></td>
											</tr>
											<tr><td colspan="2">&nbsp;</td></tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="snapshotTS">Timestamp:</label></td>
												<td><input class="form-control" type="text" size="50" maxlength="200" id="snapshotTS"
													ng-model="data.currentSnapshot.version_datetime" readonly/>
												</td>
											</tr>
										</table>
									</div>
									<br/>
									<button class="btn btn-primary" style="margin-left: 40px;" ng-click="saveSnapshot()">Save</button>
									&nbsp;&nbsp;
									<button class="btn btn-primary" style="margin-left: 40px;" ng-click="restoreSnapshotDialog()">Restore this snapshot</button>
								</td>
							</tr>
						</table>
					</tab>
				</tabset>
			</td>
		</tr>
	</table>
</div>
<iframe id="downloadIframe" style="display: none;"></iframe>
