<div class="row SingleRowView">
<form autocomplete="off">
	<table style="height: 100%; width: 100%;">
		<tr style="height: 100%;">

			<td class="ResizableTd" id="subresourcesListTd" style="min-width: 50px; width: {{data.subresourcesListWidth}}px;">
				<div class="ScrollableList" style="width: 100%;">
					<div id="topResourcesList" class="ScrollableListControlHeader btn-horizontal-1">
						<button type="button" class="btn btn-list-control btn-xs" ng-click="createResource()">
							<span class="fa fa-plus-circle ScrollableListControl"></span>
							New Resource
						</button>
					</div>
					<div class="ScrollableListControlHeader resource-tree-controls btn-horizontal-2">
						<button type="button" class="btn btn-list-control btn-xs" ng-click="createSubResource()">
							<span class="fa fa-plus-circle ScrollableListControl"></span>
							New Level
						</button><!-- need this white space
						--><button type="button" class="btn btn-list-control btn-xs" ng-click="deleteSubResource()" ng-disabled="!data.selectedSubResource">
							<span class="fa fa-minus-circle ScrollableListControl"></span>
							Delete
						</button>
					</div>
					<div id="resourceTreeDiv" class="resource-nodes-container">
						<div ng-repeat="resource in resourceTree">
							<div data-ng-include data-src="'partials/resource-node.html'"></div>
						</div>
					</div>
					<div class="api-version-selector" ng-if="apiVersions.length > 1">
						<div class="input-group">
							<div class="input-group-addon">API Version: </div>
							<select class="form-control" autocomplete="off" ng-model="active.selectedApiVersion" ng-options="version.name for version in $parent.apiVersions" ng-change="updateApiSelection();">
							</select>
						</div>
					</div>
				</div>
			</td>

			<td class="ResizableBodyTd">
				<tabset>
					<tab heading="Resource" active="data.activeTabs[0]" id="resourceDiv">
						<form ng-hide="!data.selectedSubResource" role="form" style="padding: 5px;">
							<div class="form-group">
								<label for="ResourceTypeSelect">Resource type:</label>&nbsp;<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'resourceType')"></i>
								<select size="1" required ng-model="data.selectedSubResource.resource_type_ident"
										class="form-control" type="number" ng-change="resourceTypeSelected()"
										id="ResourceTypeSelect">
									<option value="1">Normal</option>
									<option value="2">Free SQL</option>
									<option value="3">JavaScript</option>
									<option value="5">MongoDB</option>
								</select>
							</div>
							<div class="form-group" ng-hide="data.selectedSubResource.resource_type_ident != 1">
								<label for="TablesSelect">Table:</label>
<!--
  ..                             <select size="1" required ng-model="data.selectedSubResource.entity_name" ng-change="tableSelected()"
  ..                                 ng-options="table.name as table.name for table in allTablesList" id="TablesSelect"
  ..                                 class="form-control"></select>
  -->
<ui-select onclick="focusDescendantTextInput(event);" ng-click="checkAttributeState();" id="zzz" ng-model="data.selectedSubResourceTable" theme="selectize" ng-disabled="disabled"
										style="width: 250px;" ng-change="tableSelected()">
									<ui-select-match placeholder="Select or search a table in the list...">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="table in allTablesList | filter: $select.search">
										<span ng-bind-html="table.name | highlight: $select.search"></span><br/>
										<small ng-bind-html="table.remarks | shorten: 38 | highlight: $select.search"></small>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 2">
								<label for="DbSelect">Database prefix:</label>
								<select size="1" required ng-model="data.selectedSubResource.prefix"
										ng-options="prefix for prefix in allDbPrefixes" id="DbSelect"
										class="form-control"></select>
							</div>
							<div class="form-group">
								<label for="resourceName">Resource name:</label>
								<input type="text" class="false-readonly form-control" readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" ng-model="data.selectedSubResource.name" select-on-click id="resourceName" />
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" autocomplete="off" ng-model="data.selectedSubResource.is_collection" id="resourceIsCollection"
										ng-true-value="Y" ng-false-value="N" ng-change="isCollectionClicked()"
										/>Is a collection
								</label>
								<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'IsACollection')"></i>
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoServer">Mongo server:</label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.prop1" select-on-click id="mongoServer" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoDbName">Mongo database name:</label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.prop2" select-on-click id="mongoDbName" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoUser">Mongo user name:</label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.prop3" select-on-click id="mongoUser" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoPassword">Mongo password:</label>
								<input autocomplete="off" type="password" class="form-control" ng-model="data.selectedSubResource.prop4" select-on-click id="mongoPassword" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoCollName">Mongo collection name:</label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.table_name" select-on-click id="mongoCollName" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.container_ident">
								<label for="resourceJoin">Join: <i class="fa fa-question-circle ContextHelpButton"
									ng-click="helpDialog('resource', 'Join')"></i></label>
								<textarea autocomplete="off" cols="60" rows="2" class="form-control" ng-model="data.selectedSubResource.join_condition" id="resourceJoin"></textarea>
							</div>
							<div class="form-group">
								<label for="resourceDescription">Description:</label>
								<textarea readonly onfocus="this.removeAttribute('readonly');" autocomplete="off" cols="60" rows="3" class="false-readonly form-control" ng-model="data.selectedSubResource.description" id="resourceDescription"></textarea>
							</div>
							<button class="btn btn-primary" ng-click="saveResource()" style="margin: 5px;">Save</button>
							<button class="btn {{savedResource && 'btn-warning'}}" ng-disabled="!data.selectedSubResource" ng-click="goToRestlab()" style="margin: 5px;"><a style="color:gray;" ng-click="goToRestlab();"" title="Go To REST Lab" class="fa fa-flask"></a> Test</button>
							<button class="btn" ng-disabled = "!selectedResource" ng-click="exportResource()" style="margin: 5px;">Export</button>
							<button class="btn" ng-click="importResource()" style="margin: 5px;">Import</button>
						</form>
					</tab>

					<tab active="data.activeTabs[1]">
						<tab-heading ng-click="refreshAce()">Details</tab-heading>
						<form role="form" ng-show="data.selectedSubResource.resource_type_ident == 1 || data.selectedSubResource.resource_type_ident == 5">
							<div class="form-group">
								<label for="resourceFilter" class="control-label">Filter: <i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'Filter')"></i></label>
								<textarea autocomplete="off" cols="60" rows="3" ng-model="data.selectedSubResource.filter" id="resourceFilter"
									class="form-control"></textarea>
							</div>
							<div class="form-group" ng-show="selectedSubResourceParent.resource_type_ident == 5">
								<label for="attachPath">Attach path: <i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'AttachPath')"></i></label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.attach_path"
									select-on-click id="attachPath" />
							</div>
							<div class="form-group" ng-show="data.selectedSubResource.resource_type_ident == 5">
								<label for="mongoKeys">Mongo keys: <i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'MongoKeys')"></i></label>
								<input autocomplete="off" type="text" class="form-control" ng-model="data.selectedSubResource.prop5"
									select-on-click id="mongoKeys" />
							</div>
							<div class="form-group">
								<label for="resourceOrder" class="control-label">Order:</label>
								<textarea autocomplete="off" cols="60" rows="3" ng-model="data.selectedSubResource.sorting" id="resourceOrder"
									class="form-control"></textarea>
							</div>
							<button class="btn btn-primary" ng-click="saveResource()">Save</button>
						</form>
						<div ng-show="data.selectedSubResource.resource_type_ident == 2 || data.selectedSubResource.resource_type_ident == 3">
							Code:
							<pre id="sqlTextBox" style="height: 30em; width: 90%;"></pre>
							<button class="btn btn-primary" ng-click="saveResource()">Save</button><button class="btn {{savedResource && 'btn-warning'}}" ng-disabled="!data.selectedSubResource" ng-click="goToRestlab()" style="margin: 5px;"><a style="color:gray;" ng-click="goToRestlab();"" title="Go To REST Lab" class="fa fa-flask"></a> Test</button>
						</div>
					</tab>

					<tab heading="Attributes" ng-click="refreshAttributes();refreshNode();" active="data.activeTabs[2]">
						<div class="row" style="padding-top: 7px;" ng-show="data.selectedSubResource.resource_type_ident == 1">
							<div class="col-md-4" style="overflow: auto;">
								<div class="panel panel-default">
									<div class="panel-heading">
										<span class="panel-title">Columns</span>
									</div>
									<div class="panel-body">
										<button class="btn btn-sm" ng-click="selectAllColumns()" style="margin-bottom: 5px;">
											Select all
										</button>
										<table>
											<tr ng-repeat="column in tableColumns" ng-class="getColumnClass(column)">
												<td class="attribute-checkbox-cell" for="{{column.name}}">
													<input autocomplete="off" id="{{column.name}}" type="checkbox" ng-model="column.checked" ng-change="columnSelectChanged(column)" />
												</td>
												<td class="attribute-label-cell">
													<label ng-click="columnClicked(column)" ng-bind-html="column.name + data.getColumnAliasIfAny(column)"></label>
												</td>
												<td>
													<span class="fa fa-star" ng-show="getIsDefinedKeyPart(column)" title="This attribute is part of a defined key"></span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="panel panel-default">
									<div class="panel-heading">
										<span class="panel-title">Column name: {{selectedColumn.name}}</span>
									</div>
									<div class="panel-body">
										<div style="position:absolute;top:0;left:0;width:100%;height:100%; background-color:#FFFFFF; opacity: 0.5;"
											ng-hide="showResAttribTable.value"></div>
										<form role="form">
											<div class="form-group">
												<label for="resourceAttributeName">Attribute name:
													<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('resource', 'AttributeName')"></i>
												</label>
												<input autocomplete="off" ng-blur="updateAttribute(resourceAttribute);" type="text" class="form-control" ng-model="resourceAttribute.name" id="resourceAttributeName" />
											</div>
											<div class="form-group">
											<label for="resourceIsDefinedKeyPart">Part of Defined Key:</label>
											<input autocomplete="off" ng-blur="updateAttribute(resourceAttribute);" type="checkbox" ng-model="resourceAttribute.is_defined_key_part" id="resourceIsDefinedKeyPart" />
											</div>
											<div class="form-group">
												<label for="resourceAttributeDescription">Description:</label>
												<textarea ng-blur="updateAttribute(resourceAttribute);" rows="4" class="form-control" ng-model="resourceAttribute.description"
													id="resourceAttributeDescription"></textarea>
											</div>
											<button style="z-index:1000; position:relative;" ng-click="saveResource()" class="btn btn-primary">Save</button>
											<button style="z-index:1000; position:relative;" class="btn {{savedResource && 'btn-warning'}}" ng-disabled="!selectedResource" ng-click="goToRestlab()" style="margin: 5px;"><a style="color:gray;" ng-click="goToRestlab();"" title="Go To REST Lab" class="fa fa-flask"></a> Test</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="data.selectedSubResource.resource_type_ident != 1">
							This is not a Normal resource, it does not have attributes defined here.
							<br/>Free SQL resources define attributes by the columns they select in the SQL statement.
							<br/>JavaScript resources define the entire structure of the JSON returned.
						</div>
					</tab>

					<tab heading="Row Event" active="data.activeTabs[3]">
						<pre id="filterJSCode" style="height: 30em;"></pre>
						<button ng-click="saveResource()" style="margin: 5px;" class="pull-left btn btn-primary">Save</button>
						<div class="pull-right" style="font-size: 8pt; color: #777777; padding: 4px; margin: 3px;">
							Available variables:<br/>
							- row is the projected and renamed row. You can change it (carefully).<br/>
							&nbsp;&nbsp;&nbsp; and can be used to add properties to the output JSON<br/>
							- tableRow is the row as read from the database (after security applied).<br/>
							- parentRow is the parent row, if available.<br/>
							- resource is the resource definition.<br/>
							- req is the current request<br/>
							- restrequest is the raw Java object for the request<br/>
							- log is a logger, e.g. log.debug('Hello')<br/>
							You can do <code>row = null;</code> if the row should be skipped.
						</div>
					</tab>
				</tabset>
			</td>
		</tr>
	</table>
</form>
</div>
<iframe id="downloadIframe" style="display: none;"></iframe>
