<div class="row" style="height: 100%;">
	<div class="col-md-12" style="height: 100%;">
		<tabset style="height: 100%;">
			<tab heading="Request" active="data.activeTab[0]" style="height: 100%;">
				<div class="row">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label for="apiTypeControl">End Point</label>
							<select id="apiTypeControl" class="form-control"
								required
								ng-model="apiType.selected"
								ng-options="t.name for t in apiType.list"
								ng-change="apiTypeSelected()">
							</select>
						</div>
						<div class="form-group" id="resourceSelects" onclick="focusDescendantTextInput(event);">
							<ui-select id="resources" ng-model="data.selectedResource" theme="selectize"
									ng-disabled="disabled" style="width: 250px;" ng-change="resourceSelected()" ng-show="'Resource' === apiType.selected.name" class="inline-block">
								<ui-select-match placeholder="Select or search a resource in the list...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="resource in data.topResources[data.selectedApiVersion] | filter: $select.search">
									<span ng-bind-html="resource.name | highlight: $select.search"></span><br/>
									<small style="color: #777777;" ng-bind-html="resource.description | shorten: 38 | highlight: $select.search"></small>
								</ui-select-choices>
							</ui-select>
							<div ng-if="'Resource' === apiType.selected.name" class="inline-block btn btn-blank btn-sm" title="Edit Resource" ng-click="editResource();">
								<i class="fa fa-pencil-square-o"></i> Edit
							</div>

							<ui-select ng-model="data.selectedTable" theme="selectize" ng-disabled="disabled"
									style="width: 250px;" ng-change="tableSelected()"
									ng-show="'Table' === apiType.selected.name" class="inline-block">
								<ui-select-match placeholder="Select or search a table in the list..."  ng-focus="log('focus2');">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="table in data.listOfTables | filter: $select.search">
									<span ng-bind-html="table.name | highlight: $select.search"></span><br/>
									<small ng-bind-html="table.remarks | shorten: 38 | highlight: $select.search"></small>
								</ui-select-choices>
							</ui-select>
							<div ng-if="'Table' === apiType.selected.name" class="inline-block" title="Create custom resource for current table"
								ng-click="confirmCreateResource();">
								<a class="btn btn-blank">Add</a>
							</div>

							<ui-select ng-model="data.selectedView" theme="selectize" ng-disabled="disabled"
									style="width: 250px;" ng-change="viewSelected()"
									ng-show="'View' === apiType.selected.name">
								<ui-select-match placeholder="Select or search a view in the list...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="view in data.listOfViews | filter: $select.search">
									<span ng-bind-html="view.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>

							<select id="procedures" class="form-control" ng-model="data.selectedProcedure"
								ng-options="name for (name, proc) in data.allProcedures"
								ng-change="procedureSelected()" ng-show="'Procedure' === apiType.selected.name">
								<option value="">-- Select a procedure --</option>
							</select>
						</div>
						<div class="form-group" ng-if="data.apiVersions.length > 1">
							<label for="apiVersions">API version:</label>
							<select id="apiVersions" class="form-control" ng-model="data.selectedApiVersion"
								ng-options="version for version in data.apiVersions"
								ng-change="apiVersionSelected()"></select>
						</div>
						<div class="form-group">
							<label for="apiKey">Auth Token:</label>
							<ui-select ng-model="data.selectedApiKey" theme="selectize" ng-disabled="disabled"
									style="width: 250px;" class="inline-block">
								<ui-select-match placeholder="Select or search an auth token in the list...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="key in data.apiKeys | filter: $select.search">
									<span ng-bind-html="key.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</div>
						<div class="form-group">
							<label>
								<input type="checkbox" ng-model="data.useHttps" ng-change="useHttpsChanged();" />
								Use HTTPS
							</label>
							<i class="fa fa-question-circle ContextHelpButton"
								ng-click="helpDialog('restlab', 'UseHttps')"></i>
						</div>
					</form>
				</div>
				<div class="row" style="padding-top: 4px; width: 100%;">
					<table style="width: 100%;"><tr><td style="width: 275px;">
					<div class="btn-group" id="restLabAction" style="width: 275px;">
						<button type="button" class="btn btn-primary-restlab"
							style="background: #067D7D;" ng-click="sendRequest('GET')">GET</button>
						<button type="button" class="btn btn-primary-restlab"
							style="background: #1A9696;" ng-click="sendRequest('POST')">POST</button>
						<button type="button" class="btn btn-primary-restlab"
							style="background: #58C3C3;" ng-click="sendRequest('PUT')">PUT</button>
						<button type="button" class="btn btn-primary-restlab"
							style="background: #8BDDDD; color: #000000;" ng-click="sendRequest('DELETE')">DELETE</button>
					</div>
					</td><td>
					<div id="url" style="width: 100%; padding-bottom: 4px;">
						<table style="width: 100%;"><tr><td style="width: 50px; text-align: right; padding-right: 5px; padding-top: 5px;">
						<label for="urlHistory">URL:</label>
						</td><td>
						<input type="text" id="urlHistory" class="form-control" ng-model="data.requestUrl" />
						</td><td width="15%">
							<div class="margin-left-10 margin-right-10">
								<input id="showFiltering" type="checkbox" ng-model="data.showFiltering"/>
								<label for="showFiltering">Args</label>
								<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('restlab', 'QueryArguments');"></i>
							</div>
						</td></tr></table>
					</div>
					</td></tr></table>
				</div>
				<div ng-if="data.showFiltering" class="padding-10 margin-10 restlab-filters-container">
					<div class="filter-url-fragment"><input placeholder="Query Arguments" ng-disabled="true" class="form-control" ng-model="filterOutput"/></div>
					<div class="row">
						<div class="col-md-4">
							<h4>Generic</h4>
							<div class="form-group">
								<label>Page Size</label>
								<input class="form-control" ng-model="genericFilters.pagesize" ng-change="updatePageSize()" type="number"/>
							</div>
							
							<div class="form-group">
								<label>Show Rule Summary:</label>
								<input class="vertical-align-middle display-inline-important max-width-25"
									ng-model="isRuleSummaryOutput" ng-true-value="true" ng-false-value="false" ng-change="updateRuleSummaryOutput()" ng-checked type="checkbox"/>
							</div>
							
							<div class="form-group">
								<label>Remove Metadata (when possible):</label>
								<input class="vertical-align-middle display-inline-important max-width-25"
									ng-model="genericFilters.nometa" ng-true-value="true" ng-false-value="false" ng-change="updateNoMeta();" ng-checked type="checkbox"/>
							</div>
							
							<div class="form-group">
								<label>Response Format</label>
								<ui-select ng-model="genericFilters.responseformat" theme="selectize" style="width: 250px;" class="inline-block" ng-change="updateResponseFormat()">
									<ui-select-match placeholder="Select a filter" >{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="responseType.name as responseType in responseTypes">
										<div ng-bind-html="responseType.name"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<h4>Complex</h4>
							<div class="margin-top-10">
								<!--<a href="javascript:void(0);" ng-click="setSampleFilters();" class="btn btn-primary-restlab">Example</a>-->
								<a href="javascript:void(0);" ng-click="addRequestFilter()" class="btn btn-primary-restlab">Add Filter</a>
							</div>
							<div class="restlab-filter margin-top-10" ng-repeat="filterObj in requestFilters" ng-if="filterObj.type.complex == true">
								<a href="javascript:void(0);" ng-click="addRequestFilter();"><i class="fa fa-plus-circle"></i></a>
								<a href="javascript:void(0);" ng-click="removeRequestFilter($index);"><i class="fa fa-minus-circle"></i></a>
								<ui-select ng-model="filterObj.type" theme="selectize" style="width: 250px;" class="inline-block" ng-change="refreshFilters();">
									<ui-select-match placeholder="Select a filter" >{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="filterType in filterTypes.GET | filter: {complex: true}">
										<div ng-bind-html="filterType.name"></div>
									</ui-select-choices>
								</ui-select>
								<input type="text" ng-if="filterObj.type.defineArg" ng-model="filterObj.filterName" class="form-control display-inline-block width-300"/>
								<input type="text" ng-model="filterObj.value" class="form-control display-inline-block width-300"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row request-response-container" ng-init="$emit('aceEditorSetup')" style="height: 80%;">
					<div style="width: 100%; background-color: #94D1A6; font-size: 11pt; padding: 3px;">
						Request body&nbsp;
						<span class="fa fa-caret-up" ng-click="collapseJsonUp()"></span>
						&nbsp;
						<span class="fa fa-sort" ng-click="collapseJsonMiddle()"></span>
						&nbsp;
						<span class="fa fa-caret-down" ng-click="collapseJsonDown()"></span>
					</div>
					<div id="requestJsonDiv" style="width: 100%; height: 200px; border-bottom: solid 5px #CCCCCC;">
						<pre id="requestJsonBox" style="height: 100%; border-radius: 0px;"></pre>
					</div>
					<div class="response-header" style="width: 100%; font-size: 11pt; padding: 3px;">
						Response&nbsp;
						<span class="fa fa-caret-down" ng-click="collapseJsonDown()"></span>
						&nbsp;
						<span class="fa fa-sort" ng-click="collapseJsonMiddle()"></span>
						&nbsp;
						<span class="fa fa-caret-up" ng-click="collapseJsonUp()"></span>
					</div>
					<div id="responseJsonDiv" style="width: 100%; height: 200px; border-bottom: solid 5px #CCCCCC;">
						<pre id="responseJsonBox" style="height: 100%; border-radius: 0px;"></pre>
					</div>
				</div>
			</tab>
<!--
  ..       <tab heading="Response" active="data.activeTab[1]">
  ..           <pre id="responseJsonBox" style="height: 45em;"></pre>
  ..           <br/>
  ..           <button class="btn btn-default" ng-click="copyToRequestJson()">Copy to request JSON</button>
  ..       </tab>
 -->
			<tab heading="Tx Summary" active="data.activeTab[2]">
				<div style="width: 100%; height: 100%; overflow: auto;">
					<accordion close-others="false">
						<accordion-group heading="{{obj['@metadata'].verb}} : {{obj['@metadata'].href}}"
								ng-class="getTxSummaryItemClass(obj['@metadata'].verb)" ng-repeat="obj in data.txSummary">
							<pre>{{formatTxSummary(obj)}}</pre>
						</accordion-group>
					</accordion>
				</div>
				<div ng-hide="data.txSummary">
					There is no transaction summary to display.
					<p/>
					Transaction summaries exist only for requests that change the data,
					i.e. anything but GET.
				</div>
			</tab>
			<tab heading="Rule Summary" active="data.activeTab[3]">
				<div id="txSummary" class="row" ng-hide="!data.rulesummary">
					<div class="col-md-6" style="padding-bottom: 10px;">
						<div id="eventsTree" class="LogicTreeContainer"></div>
					</div>
					<div id="eventDetails" class="col-md-6">
						Select a node in the tree
					</div>
				</div>
				<div ng-hide="data.rulesummary">
					There is no rule summary to display.
					<p/>
					Rule summaries exist only for requests that change the data,
					i.e. anything but GET, and that exercise the project's rules.
				</div>
			</tab>
		</tabset>
	</div>
</div>
