<div ng:controller="kahuna.rules.RuleActionCtrl" class="row">
	<div class="col-md-12">
		<h5>
			<span ng-switch on="data.currentRule.ruletype_ident">
				<span ng-switch-when="7" >Event</span>
				<span ng-switch-when="8" >Early Event</span>
				<span ng-switch-when="9" >Commit Event</span>
			</span>
			for {{data.currentRule.entity_name}}
		</h5>

		<span class="dropdown pull-right" style="cursor: pointer;">
			<a class="dropdown-toggle">{{ruleVersions.length}} version{{ruleVersions.length &gt; 1 ? 's' : ''}}</a>
			<ul class="dropdown-menu">
				<li ng-repeat="ruleVersion in ruleVersions" ng-click="ruleVersionSelected(ruleVersion)">
					<a>{{ruleVersion.formattedDate}}</a>
				</li>
			</ul>
		</span>

		<form role="form">
			<div class="form-group">
				<label for="actionName">Event name:</label>
				<input type="text" class="form-control" ng-model="data.currentRule.name"
						placeholder="Rule name (optional)" id="actionName" />
			</div>
			<div class="form-group">
				<rule-topics></rule-topics>
				<span>
					<label for="TableSelect">Table:</label>
					<table><tr><td>
						<select size="1" class="form-control" required ng-model="data.selectedTable"
							ng-options="name for (name, table) in tables" ng-change="tableSelected()"
							id="TableSelect"></select>
					</td></tr></table>
				</span>
			</div>
			<div class="form-group" ng-show="data.currentRule.prop4 == 'java'">
				This a system-defined Java Event. These are special rules, which
				cannot be created or modified.
			</div>
			<div class="form-group" ng-show="data.currentRule.prop4 == 'java'">
				<label for="actionClass">Class name:</label>
				<input readonly type="text" class="form-control" ng-model="data.currentRule.rule_text1" id="actionClass" />
			</div>
			<div class="form-group" ng-show="data.currentRule.prop4 == 'java'">
				<label for="actionMethod">Method name:</label>
				<input readonly type="text" class="form-control" ng-model="data.currentRule.rule_text2" id="actionMethod" />
			</div>
			<div class="form-group" ng-hide="data.currentRule.prop4 != 'javascript'">
				<label for="actionJSCode">Code:</label>
				<pre id="ruleJSCode" style="height: 15em;"></pre>
				<div style="font-size: 9pt; color: #888888; padding: 4px; margin: 3px;">
					<span ng-click="showAttribsHelp = !showAttribsHelp" style="margin-bottom: 4px; cursor: default;">
						<i ng-class="{true: 'icon-chevron-down', false: 'icon-chevron-right'}[showAttribsHelp]"></i>
						Expression help
					</span>
					<button class="pull-right btn btn-xs" ng-click="switchCodeSize()">{{codeSizeText}}</button>
					<div ng-show="showAttribsHelp" style="border: solid 1px #888888; padding: 3px; background-color: #F2F2F2; width: 50%;">
						<select size="1" ng-model="data.insertAttrib" ng-change="insertAttributeSelected()"
							style="margin-bottom: 5px;"
							ng-options="column.name as column.name for column in data.currentTable.columns" id="InsertAttribSelect">
							<option value="">&lt;select attribute to insert&gt;</option>
						</select> or
						<br/>
						<select size="1" ng-model="data.selectedParent" ng-change="parentSelected()"
							ng-options="parent as parent.name for parent in data.currentTable.parents" id="InsertParentSelect">
							<option value="">&lt;select parent role&gt;</option>
						</select>
	 					<select size="1" ng-model="data.insertParentAttrib" ng-change="parentAttributeSelected()"
	 						ng-disabled="!data.selectedParent"
							ng-options="column.name as column.name for column in data.parentTableDetails.columns" id="InsertParentAttribSelect">
							<option value="">&lt;select parent attribute to insert&gt;</option>
						</select><br/>
						<a href="http://ca-doc.espressologic.com/docs/logic-designer/business-logic/event" target="_blank">Event reference</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="checkbox" for="actionActive">
					<input type="checkbox" ng-model="data.currentRule.active" id="actionActive" />
					Active
					<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('rule', 'Active')"></i>
				</label>
			</div>
			<div class="form-group">
				<label>Restrict to:</label>
				<label for="actionEventsInsert">
					<input type="checkbox" ng-model="data.verbInsert" id="actionEventsInsert" />
					Insert&nbsp;
				</label>
				<label for="actionEventsUpdate">
					<input type="checkbox" ng-model="data.verbUpdate" id="actionEventsUpdate" />
					Update&nbsp;
				</label>
				<label for="actionEventsDelete">
					<input type="checkbox" ng-model="data.verbDelete" id="actionEventsDelete" />
					Delete
				</label>
			</div>
			<div class="form-group">
				<label class="checkbox" for="actionAsync">
					<input type="checkbox" ng-model="data.async" ng-change="asyncChanged()" id="actionAsync" />
					Asynchronous
					<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('rule', 'ActionAsync')"></i>
				</label>
			</div>
			<div class="form-group">
				<label for="actionComments">Comments:</label>
				<textarea cols="60" rows="3" ng-model="data.currentRule.comments" id="actionComments" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary" ng-click="saveAndCloseRule()">Activate and close</button>
			&nbsp;
			<button class="save-rule btn btn-default" ng-click="saveRule()">Save</button>
			&nbsp;
			<button class="btn btn-default" ng-click="deleteRule()">Delete this rule</button>
			<div ng-show="javaRulesMessage" style="padding: 7px; font-size: 8pt;">{{javaRulesMessage}}</div>
		</form>
	</div>
</div>
