<div ng:controller="kahuna.rules.RuleParentCopyCtrl">
	<div class="col-md-12">
		<h5>Parent copy for {{data.currentRule.entity_name}}</h5>

		<span class="dropdown pull-right" style="cursor: pointer;">
			<a class="dropdown-toggle">{{ruleVersions.length}} version{{ruleVersions.length &gt; 1 ? 's' : ''}}</a>
			<ul class="dropdown-menu">
				<li ng-repeat="ruleVersion in ruleVersions" ng-click="ruleVersionSelected(ruleVersion)">
					<a>{{ruleVersion.formattedDate}}</a>
				</li>
			</ul>
		</span>

		<form class="form-horizontal" name="parentCopyForm">
			<div class="form-group">
				<label for="formulaName">Rule name:</label>
				<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('rule', 'RuleCopyName')"></i>
				<input type="text" class="form-control" ng-model="data.currentRule.name"
					placeholder="Rule name (optional)" id="formulaName"/>
			</div>
			<div class="form-group">
				<rule-topics></rule-topics>
				<span>
					<label for="TableSelect">Table/column:</label>
					<table><tr><td>
					<select size="1" required ng-model="data.selectedTable"
						ng-options="name for (name, table) in tables" ng-change="tableSelected()"
						id="TableSelect" required></select>
					</td><td>
					<select size="1" required ng-model="data.currentRule.attribute_name"
							ng-options="column.name as column.name for column in data.currentTable.columns" id="DerivedAttribSelect" required></select>
					</td><td>
					&nbsp;<i class="fa fa-question-circle" ng-click="helpDialog('rule', 'ParentCopyColumn')"></i>
					</td></tr></table>
				</span>
			</div>
			<div class="form-group">
				<label for="ParentRoleSelect">Parent attribute to copy:</label>
				<table><tr>
					<td><select size="1" required ng-model="selectedParentRole" ng-change="parentRoleSelected()"
						ng-options="parentTable.name for parentTable in parents" id="ParentRoleSelect" required></select></td>
					<td><select size="1" ng-model="selectedParentColumn"
						ng-options="col.name for col in parentRoleAttributes" required></select></td>
					<td>&nbsp;<i class="fa fa-question-circle" ng-click="helpDialog('rule', 'ParentCopyToCopy')"></i></td>
				</tr></table>
			</div>
			<div class="form-group">
				<label class="checkbox" for="active">
					<input type="checkbox" ng-model="data.currentRule.active" id="active" />
					Active
				</label>
			</div>
			<div class="form-group">
				<label for="comments">Comments:</label>
				<textarea cols="60" rows="6" ng-model="data.currentRule.comments" id="comments" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary" ng-click="saveAndCloseRule()" ng-disabled="!parentCopyForm.$valid">Activate and close</button>
			&nbsp;
			<button class="btn btn-default" ng-click="saveRule()" ng-disabled="!parentCopyForm.$valid">Save</button>
			&nbsp;
			<button class="btn btn-default" ng-click="deleteRule()">Delete this rule</button>
		</form>
	</div>
</div>
