<div ng:controller="kahuna.rules.RuleMinMaxCtrl" class="row">
	<div class="col-md-12">
		<h5>{{ruleType}} for {{data.currentRule.entity_name}}</h5>

		<span class="dropdown pull-right" style="cursor: pointer;">
			<a class="dropdown-toggle">{{ruleVersions.length}} version{{ruleVersions.length &gt; 1 ? 's' : ''}}</a>
			<ul class="dropdown-menu">
				<li ng-repeat="ruleVersion in ruleVersions" ng-click="ruleVersionSelected(ruleVersion)">
					<a>{{ruleVersion.formattedDate}}</a>
				</li>
			</ul>
		</span>

		<form class="form-horizontal">
			<div class="form-group">
				<label for="sumName">{{ruleType}} name:</label>
				<input type="text" class="form-control" ng-model="data.currentRule.name"
							placeholder="Rule name (optional)" id="sumName" />
			</div>
			<div class="form-group">
				<rule-topics></rule-topics>
				<span>
					<label for="TableSelect">Table/column:</label>
					<table><tr><td>
						<select size="1" class="form-control" required ng-model="data.selectedTable"
							ng-options="name for (name, table) in tables" ng-change="tableSelected()"
							id="TableSelect"></select>
						</td><td>
						<select size="1" class="form-control" required ng-model="data.currentRule.attribute_name"
								ng-options="column.name as column.name for column in data.currentTable.columns" id="DerivedAttribSelect"></select>
					</td></tr></table>
				</span>
			</div>
			<div class="form-group">
				<label for="ChildRoleSelect">Children:</label>
				<table><tr>
					<td><select size="1" required ng-model="data.selectedChildRole" ng-change="childRoleSelected()"
						ng-options="childTable.name for childTable in currentRuleTable.children" id="ChildRoleSelect"></select></td>
					<td><select size="1" ng-model="data.currentRule.rule_text3"
						ng-options="col.name as col.name for col in childRoleAttributes"></select></td>
				</tr></table>
			</div>
			<div class="form-group">
				<label for="expressionText">Qualification:</label>
				<textarea cols="60" rows="4" class="form-control" ng-model="data.currentRule.rule_text2" id="expressionText"></textarea>
				<div style="font-size: 9pt; color: #888888; padding: 4px; margin: 3px;">
					<span ng-click="showAttribsHelp = !showAttribsHelp" style="margin-bottom: 4px; cursor: default;">
						<i ng-class="{true: 'icon-chevron-down', false: 'icon-chevron-right'}[showAttribsHelp]"></i>
						Expression help
					</span>
					<div ng-show="showAttribsHelp" style="border: solid 1px #888888; padding: 3px; background-color: #F2F2F2; width: 50%;">
						<select size="1" ng-model="data.insertAttrib" ng-change="insertAttributeSelectedTextarea()"
							style="margin-bottom: 5px;"
							ng-options="col.name as col.name for col in allChildAttributes">
							<option value="">&lt;select attribute to insert&gt;</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="checkbox" for="active">
					<input type="checkbox" ng-model="data.currentRule.active" id="active" />
					Active
				</label>
				<div class="checkbox">
					<label class="checkbox" for="sqlable">
						<input type="checkbox" ng-model="data.currentRule.sqlable" id="sqlable" />
						SQLable 
					</label>
					<i class="fa fa-question-circle ContextHelpButton" ng-click="helpDialog('rule', 'RuleSqlable')"></i>
				</div>
			</div>
			<div class="form-group">
				<label for="comments">Comments:</label>
				<textarea cols="60" rows="3" ng-model="data.currentRule.comments" id="comments" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary" ng-click="saveAndCloseRule()" style="float: clear;">Activate and close</button>
			&nbsp;
			<button class="btn btn-default" ng-click="saveRule()" style="float: clear;">Save</button>
			&nbsp;
			<button class="btn btn-default" ng-click="deleteRule()" style="float: clear;">Delete this rule</button>
		</form>
	</div>
</div>
