<div ng:controller="kahuna.rules.RuleManagedParentCtrl" class="row">
	<div class="col-md-12">
		<h5>Managed parent for {{data.currentRule.entity_name}}</h5>

		<span class="dropdown pull-right" style="cursor: pointer;">
			<a class="dropdown-toggle">{{ruleVersions.length}} version{{ruleVersions.length &gt; 1 ? 's' : ''}}</a>
			<ul class="dropdown-menu">
				<li ng-repeat="ruleVersion in ruleVersions" ng-click="ruleVersionSelected(ruleVersion)">
					<a>{{ruleVersion.formattedDate}}</a>
				</li>
			</ul>
		</span>

		<form class="form-horizontal">
			<div class="form-group">
				<label for="countName">Rule name:</label>
				<input type="text" class="form-control" ng-model="data.currentRule.name"
					placeholder="Rule name (optional)" id="countName" />
			</div>
			<rule-topics></rule-topics>
			<span>
				<div class="form-group">
					<label for="ParentRoleSelect">Role to parent:</label>
					<table><tr><td>
						<select size="1" required ng-model="selectedParentRole"
							ng-options="parentTable as parentTable.name for parentTable in currentRuleTable.parents" id="ParentRoleSelect"></select>
					</td></tr></table>
				</div>
			</span>
			<div class="form-group">
				<label for="ruleJSCode">Code:</label>
				<pre id="ruleJSCode" style="height: 10em;" class=""></pre>
				<div style="font-size: 9pt; color: #888888; padding: 4px; margin: 3px;">
					<span ng-click="showAttribsHelp = !showAttribsHelp" style="margin-bottom: 4px; cursor: default;">
						<i ng-class="{true: 'icon-chevron-down', false: 'icon-chevron-right'}[showAttribsHelp]"></i>
						Expression help
					</span>
					<button class="pull-right btn btn-xs" ng-click="switchCodeSize()">{{codeSizeText}}</button>
					<div ng-show="showAttribsHelp" style="border: solid 1px #888888; padding: 3px; background-color: #F2F2F2; width: 50%;">
						<select size="1" ng-model="data.insertAttrib" ng-change="insertAttributeSelected()"
							style="margin-bottom: 5px;"
							ng-options="column.name as column.name for column in data.currentTable.columns" id="InsertAttribSelect">
							<option value="">&lt;select attribute to insert&gt;</option>
						</select> or
						<br/>
						<select size="1" ng-model="data.selectedParent" ng-change="parentSelected()"
							ng-options="parent as parent.name for parent in data.currentTable.parents" id="InsertParentSelect">
							<option value="">&lt;select parent role&gt;</option>
						</select>
	 					<select size="1" ng-model="data.insertParentAttrib" ng-change="parentAttributeSelected()"
	 						ng-disabled="!data.selectedParent"
							ng-options="column.name as column.name for column in data.parentTableDetails.columns" id="InsertParentAttribSelect">
							<option value="">&lt;select parent attribute to insert&gt;</option>
						</select><br/>
						<a href="http://ca-doc.espressologic.com/docs/logic-designer/business-logic/managed-parent"
								target="_blank">Managed Parent reference</a>
					</div>
				</div>
			</div>
<!-- 			<div class="form-group">
				<label for="delete" class="control-label">Delete when no children:</label>
				<div class="controls">
					<input type="checkbox" ng-model="data.currentRule.prop1" id="delete"/>
					<i class="fa fa-question-circle" ng-click="helpDialog('rule', 'ManagedParentDelete')"></i>
				</div>
			</div> -->
			<div class="form-group">
				<label class="checkbox" for="active">
					<input type="checkbox" ng-model="data.currentRule.active" id="active"/>
					Active
				</label>
			</div>
			<div class="form-group">
				<label for="comments">Comments:</label>
				<textarea cols="60" rows="3" ng-model="data.currentRule.comments" id="comments" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary" ng-click="saveAndCloseRule()" style="float: clear;">Activate and close</button>
			&nbsp;
			<button class="btn btn-default" ng-click="saveRule()" style="float: clear;">Save</button>
			&nbsp;
			<button class="btn btn-default" ng-click="deleteRule()" style="float: clear;">Delete this rule</button>
		</form>
	</div>
</div>
