<div>
	<div class='sub-resource-modal'>
	   <h3>Sub Resource Helper</h3>
	    <label>The following tables are related to "{{resource.table_name}}":</label>
        <ui-select onclick="focusDescendantTextInput(event);" id="abc" ng-model="relationships.selected" theme="selectize" style="width: 350px;">
            <ui-select-match placeholder="Select an existing relationship ...">
                {{getRoleTable().split(':')[0]}}:<strong>{{getRoleTable().split(':')[1]}}</strong> (as {{relationships.selected.name}})
            </ui-select-match>
            <ui-select-choices repeat="definition in relationships.values | filter: $select.search">
            <span ng-if="definition">{{getRoleTable(definition).split(':')[0]}}:<strong>{{getRoleTable(definition).split(':')[1]}}</strong> (as {{definition.name}})</span><br/>
            <small ng-if="definition">{{getRoleType(definition)}}</small>
            </ui-select-choices>
        </ui-select> <button class="btn btn-default float-right sub-resource-create-relationship-button" ng-click="showRelationshipButtons();">Create A Relationship</button>
        <div ng-if="isShown">
          <br/>
            <button ng-click="createRelationship('parent');" class="btn btn-default">As Parent</button><button ng-click="createRelationship('child');" class="btn btn-default">As Child</button>
        </div>
        <br/>
	    <label>SQL Fragment</label>
	    <textarea class="form-control" disabled>{{relationships.sqlFragment}}</textarea>
	    <br/>
        <button class="btn btn-default" ng-click="closeAndCreate(true);">Custom Resource</button>
	    <button class="btn btn-primary float-right" ng-click="closeAndCreate(false)">Create Resource</button>
	</div>
	<div class="modal-close-x" ng-click="close();">X</div>
</div>