.brand-image {
    width: 60px;
    position: absolute;
    right: 0;
    display: block;
    margin-top: 15px;
}

.modal-header {
    border-bottom: 0px;
}

#MainView {
    position: relative !important;
}

.product-title {
    color: #59686e;
    margin-top: 18px;
    font-size: 30pt;
}

.center {
    margin: 0 auto;
}

#body .width-point-8 {
    width: 80%;
}

.min-width-20 {
    min-width: 20px;
}

.min-width-40 {
    min-width: 40px;
}

.min-width-60 {
    min-width: 60px;
}

.min-width-80 {
    min-width: 80px;
}

.min-width-85 {
    min-width: 85px;
}

.max-height-50 {
    max-height: 50px;
}

.min-height-50 {
    min-height: 50px;
}

.min-height-35 {
    min-height: 35px;
}

.min-height-20 {
    min-height: 20px;
}

.home-page .ui-layout-resizer-west {
    visibility: hidden;
}

.home-page #sideBarDiv {
    visibility: hidden;
}

.home-page .project-menu {
    display: none;
}

.home-page .ui-layout-toggler-west {
    visibility: hidden !important;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.accordion-toggle {
    cursor: pointer;
}

.api-card-container h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20pt;
}

.request-response-container div:first-child, .response-header {
    cursor: default;
}

.request-response-container div:first-child .fa, .response-header .fa {
    cursor: pointer;
}

.ui-select-choices {
    z-index: 100;
}

.tour .popover-title {
    cursor: move;
}

.api-card {
    background: #f4f4f4;
    margin: 30px 10px 0px 0;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    color: #000000;
}

.sandbox_header {
    display: none;
}

.ui-layout-resizer-west-closed:before {
    content: "\00a0 \00a0 \00a0 Create \00a0 \00a0 \00a0 Integrate \00a0 \00a0 \00a0 Manage \00a0 \00a0 \00a0 Execute \00a0 \00a0 \00a0 Analyze";
    position: absolute;
    top: 211px;
    left: -194px;
    font-size: 18px;
    width: 400px;
    z-index: 1999;
    transform: rotate(90deg);
    background: #31868e;
    color: #ffffff;
    height: 38px;
}

#body .btn-block {
    width: 100%;
}

.resource-node > .active > i {
    color: #3d8da0;
    font-weight: bold;
}

.resource-node > .active > span {
    color: #3d8da0;
    line-height: 1em;
    font-size: 18px;
}

#body .width-em-3 {
    width: 3em;
}

.input-group-addon {
    border-radius: 0;
    background: #ffffff;
    border-color: #efefef;
    color: #59686e;
}

.modal-footer {
    border-top: 0px;
}

.color-white {
    color: #ffffff;
}

.text-align-center {
    text-align: center;
}

label.input-group-addon {
    font-size: 12pt;
}

body, .ui-select-match {
    font-size: 12pt;
}

.form-control {
    font-size: 12pt;
}

.selectize-input {
    border-radius: 2px;
}

.margin-left-15 {
    margin-left: 15px;
}

.ui-dialog-titlebar {
    background: #3d8da0;
    border-radius: 0;
    padding: 10px;
    margin: -4px;
    font-family: CA-Sans;
    font-size: 1.2em;
    color: #ffffff;
    border: none;
}

#body .btn-group .btn {
    width: auto;
}

.btn.btn-blank {
    background-color: #ffffff;
    color: #000000;
    border-color: #918e8b;
    text-align: center !important;
}

.btn-blank:focus, .btn-blankactive, .btn-blank:hover {
    background-color: #918e8b;
    color: #ffffff;
}

#body #navBarDiv .NavBarLink {
    font-size: 14pt;
}

.btn:disabled {
    color: #000000;
}

.full-screen-modal .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.full-screen-modal .modal-content {
    min-height: 100%;
}

.full-screen-modal .modal-body {
    max-width: 768px;
    margin: 0 auto;
}

.btn-group-sm .btn-sm {
    padding: 3px 5px;
    font-size: 10pt;
    line-height: 1;
    border-radius: 2px;
}

.btn-group-sm .btn-sm .fa {
    font-size: 9pt;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 2px solid #3d8da0;
    color: #22465e;
    background-color: transparent;
}

.dismiss-box {
    position: absolute;
    top: 0;
    right: 0;
}

.margin-3 {
    margin: 3px;
}

.margin-15 {
    margin: 15px;
}

.active-project, .api-card:hover {
    background: #b0d8e1;
}

.active-project.api-card .btn-group, .api-card:hover .btn-group {
    visibility: visible;
    transition: none;
}

.active-project.api-card .btn-group .btn, .api-card:hover .btn-group .btn
    {
    transition: none;
}

.api-card .btn-group {
    visibility: hidden;
    transition: none;
}

.api-card .btn-group .btn {
    transition: none;
}

.home-view .tab-content > .active {
    padding: 15px;
    margin-right: 340px;
}

.welcome-open .ui-layout-east {
    z-index: 1100 !important;
    border-left: 1px solid #dddddd;
    right: 14px !important;
    background-color: transparent;
}

@media only screen and (max-width: 3000px) {
    .welcome-open .ui-layout-east {
        display: none !important;
    }
    .home-view .tab-content > .active {
        margin-right: 0px !important;
    }
}

.project-status.btn {
    float: right;
    position: absolute;
    padding: 3px;
    border-color: transparent;
    top: 38px;
    right: 32px;
}

.btn-success {
    background-color: #18aa4a;
    background-image: none;
}

.btn-danger {
    background-color: #a11d2e;
    background-image: none;
}

.api-card p {
    height: 18pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grouped-dialog-label {
    font-size: 10px !important;
}

.connect-wizard-modal .modal-body {
    padding: 20px;
    padding-top: 0px;
}

.connect-wizard-modal .modal-header {
    padding-bottom: 0px;
}

.connect-wizard-modal h2 {
    margin-top: 0;
}

.steps-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.step-item {
    padding: 10px 0;
}

.step-arrow-shape {
    width: 0;
    height: 0;
    border-left: 26px solid #3d8da0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    position: absolute;
    margin-top: -10px;
    z-index: 5;
    left: 100px;
}

.step-box-shape {
    width: 85px;
    height: 0;
    border: 22px solid #3d8da0;
    position: absolute;
    margin-top: -10px;
    z-index: 5;
}

.step-title {
    position: relative;
    z-index: 100;
    color: #000000;
    padding-left: 5px;
}

.active .step-title {
    color: #ffffff;
}

.hero-ish-text {
    border: 1px solid #3d8da0;
    padding: 10px;
    border-left: 3px solid #3d8da0;
    border-right: 3px solid #3d8da0;
    background-color: rgba(255, 255, 255, .8);
}

/* jQuery UI styles */
.ui-button-text {
    font-size: 9pt;
}

@font-face {
    font-family: CA-Sans;
    src: url('../fonts/ca_sans_web-regular.eot') format('embedded-opentype'); /* IE9 Compat Modes */
    src: url('../fonts/ca_sans_web-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/ca_sans_web-regular.woff') format('woff'), /* Modern Browsers */
     url('../fonts/CASans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('../fonts/ca_sans_web-regular.svg') format('svg'); /* Legacy iOS */
}

body {
    font-family: CA-Sans, "sans-serif";
}

.ui-widget-overlay {
    background: #222222;
    opacity: 0.6;
}

#body .margin-0 {
    margin: 0px;
}

#body .margin-10 {
    margin: 10px;
}

#body .padding-0 {
    padding: 0px;
}

#body .padding-10 {
    padding: 10px;
}

.navbar {
    background: #f1f1f2;
    border-bottom: 1px solid #ffffff;
}

.navbar a, .navbar span, .navbar .NavBarLink {
    color: #007886 !important;
}

#NavBarHomeSiteLink, .NavBarLink {
    font-size: 16px;
}

.border-left-none, .border-left-none td:first-child {
    border-left: none;
}

.border-right-none, .border-right-none td:last-child {
    border-right: none;
}

#body .form-control {
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4 !important;
    font-weight: normal !important;
}

#body .left-nav-link.active {
    background-color: #3d8da0;
    color: #ffffff;
    border: none;
}

#body a:hover {
    text-decoration: none;
}

#body .dropdown-menu {
    border-radius: 3px;
    width: 100%;
    color: #000000;
}

#body .left-nav-link.active a {
    font-weight: normal;
}

#body .left-nav-link:hover {
    background: rgba(0, 120, 134, 0.22);
}

#body .nav-tabs > li > a:hover {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3d8da0;
}

#body .dropdown-menu > li > a {
    color: #000000 !important;
}

#body .restlab-controls-group {
    margin: 10px;
    padding-bottom: 15px;
}

#body .btn-group a {
    border-radius: 3px;
}

#body #codeEditor {
    border-radius: 3px;
}

#body .ScrollableListControlHeader .btn {
    border: 0;
    border-radius: 3px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    background: #eeeeee;
    color: #3d8da0;
    font-weight: normal;
}

#body .btn-horizontal-2 .btn {
    width: 49%;
}

#body .btn-horizontal-1 .btn {
    width: 100%;
}

#body .btn-horizontal-2 .btn:first-child {
    border-right: 1px solid #ffffff;
}

#body .ScrollableListControlHeader .btn:hover {
    background: #3d8da0;
    color: #ffffff;
}

#body .ScrollableListControlHeader {
    padding-left: 0;
    padding-right: 0px;
}

.btn {
    text-transform: uppercase;
}

#body button.btn.btn-connectwizard {
    text-transform: none;
}

#body .btn-warning {
    background: #ffc91c;
}

#body .btn.btn-primary {
    background: #22465e;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    border-color: #d8d8d8;
    color: #ffffff;
}

#body .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border-color: #59686e;
    color: #22465e;
}

#body button:hover .ScrollableListControl {
    color: #ffffff;
}

#body .ResizableTd {
    border: 0;
}

#body #filterJSCode {
    border-radius: 3px;
}

#body #resourcesListTd {
    padding-right: 5px;
}

#body #resourcesListTd.ResizableTd .ScrollableList {
    border-right: 3px solid #aaaaaa;
}

#body #LBlocal a:hover {
    color: #000000;
}

#body #LBwindow a:hover {
    color: #000000;
}

#body .left-nav-link:hover #LBlocal a {
    color: #000000 !important;
}

#body .left-nav-link:hover #LBwindow a {
    color: #000000 !important;
}

#body #navbar-collapse-header {
    background: #3d8da0 !important;
}

#body #leftBarDataExplorer .dropdown-menu > li > a {
    padding: 3px 10px;
}

#body #leftBarDataExplorer ul.dropdown-menu {
    margin-left: -5px;
}

#body .navbar-brand {
    height: 30px;
}

#body .dataexplorer-external-window {
    float: right;
    padding-left: 1px;
    position: relative;
    margin-top: -19px;
    cursor: pointer;
}

#body #dataExplorerIframe {
    border: 1px solid #dfdfdf;
}

a {
    /* color: #14b29b; */
    /* color: #0098da; */
    color: #4488cf;
    text-decoration: none;
}

.nav li a {
    color: #444444;
}

a:hover, a:active, a:focus, .active > a {
    color: #558da0;
}

li a:hover, li a:active, li a:focus {
    color: #3d8da0;
}

.row {
    margin-left: 0px;
    margin-right: -10px;
}

.col-md-12 {
    padding-left: 5px;
}

textarea {
    padding-left: 3px !important;
}

label {
    font-weight: lighter;
    color: #7c6e7e;
}

input[type="text"].form-control, input[type="tel"].form-control, input[type="email"].form-control {
    /*background-color: #f1f1f2;*/
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}

textarea.form-control {
    /*background-color: #f1f1f2;*/
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}

.btn.btn-primary, .btn.btn-default {
    width: 12em;
    padding: 4px;
    text-align: left;
    border-radius: 4px;
}

.btn {
    text-align: left;
    border: solid 1px #ffffff;
    border-radius: 3px;
}

.btn-warning {
    border-color: #d2a823;
}

.btn-info {
    border-color: #358096;
}

.btn:hover {
    border: solid 1px #bbbbbb;
}

.btn-primary {
    /*background-color: #35a9a9;*/
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn-primary:hover {
    background-color: #31868e;
}

.btn-primary-restlab, .btn.btn-primary-restlab {
    color: #ffffff;
    border-color: #357ebe;
    padding: 4px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    /*background-color: #35a9a9;*/
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn.btn-primary-restlab:hover {
    color: white;
    background-color: #31868e;
}

.btn.btn-primary-restlab-get {
    color: white;
    background-color: #0f6ab4;
    border: 1px solid #c3e8d1;
}

.btn.btn-primary-restlab-put {
    border-right: 1px solid #dddddd;
    background-color: #f9f2e9;
    color: #c5862b;
}

.btn.btn-primary-restlab-post {
    border-right: 1px solid #dddddd;
    background-color: #e7f6ec;
    color: #10a54a;
}

.btn.btn-primary-restlab-patch {
    border-right: 1px solid #dddddd;
    background-color: #f0cecb;
    color: #d38042;
}

.btn.btn-primary-restlab-delete {
    color: white;
    background-color: #c8787a;
    border: 1px solid #c3e8d1;
}

.btn-primary-restlab:hover {
    background-color: #31868e;
}

.btn-default {
    background-color: #536673;
    color: #ffffff;
    text-align: center !important;
}

.btn-default:hover {
    background-color: #e0e0e0;
}

.btn.btn-success {
    /* empty */
}

.btn-list-control {
    border: 0px;
    margin: 1px;
    background-color: #ffffff;
}

.btn-list-control:hover {
    border: solid 1px #bbbbbb;
}

.form-inline {
    padding-bottom: 7px;
}

.form-inline .form-group {
    padding-right: 10px;
}

.tab-content {
    height: 90%;
}

.tab-pane {
    height: 100%;
}

.modal-content {
    border-radius: 3px;
    background: linear-gradient(-45deg, #e0e0e0, #ffffff);
}

select.form-control {
    font: 11pt;
    font-weight: lighter;
    border-radius: 4px;
    background-color: #f1f1f2;
}

/* Selectize searchable selects */
.selectize-input {
    padding: 5px;
    overflow: visible;
}

div.tab-content {
    padding: 7px;
}

.panel-title {
    font-size: 12pt;
    font-weight: normal;
}

#MainView {
    height: 100%;
}

.SingleRowView {
    height: 100%;
    padding-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui-layout-pane {
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

#navBarDiv {
    height: 53px !important;
    /* overflow: hidden !important; */
    border: 0px !important;
}

.ui-layout-pane-west {
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-layout-pane-south {
    overflow: hidden !important;
}

.ui-layout-resizer-west-closed {
    background-position: 0px 30px;
    background-size: 27px 577px;
    background-repeat: no-repeat;
    background-color: #c1dadd;
    width: 25px !important;
}

.ui-layout-toggler-west-closed {
    border: 0 !important;
    top: 0px !important;
    padding: 5px !important;
    width: 23px !important;
    background-color: inherit !important;
}

.ui-layout-toggler-west-closed > .content-closed {
    color: #ffffff !important;
    font-size: 12pt !important;
}

.ui-layout-toggler-west-closed > .content-closed:hover {
    color: #31868e !important;
}

.ui-layout-pane-center {
    border: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui-layout-pane-east {
    border: 0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
}

/*******************************/
/* Nav bar */
#NavBarHomeSiteLink, #NavBarHomeSiteLink:hover {
    color: #bdbfc1;
    font-weight: normal;
    text-decoration: none;
}

#NavBarHomeLink, #NavBarHomeLink:hover {
    color: #6d6e70;
    font-weight: normal;
    text-decoration: none;
}

.NavBarLink, .NavBarLink:hover {
    font-size: 12pt;
    color: #6d6e70;
    font-weight: normal;
    text-decoration: none;
}

#navbar-collapse:hover {
    color: #31868e !important;
}

.navbar-collapse.collapse {
    height: 53px !important;
}

.navbar {
    min-height: 53px !important;
    height: 53px !important;
    margin-bottom: 5px;
}

.navbar-brand {
    padding-top: 7px !important;
}

div.modal.fade.in {
    display: block !important;
}

div.modal-dialog {
    background-color: #ffffff;
}

input, select, textarea {
    font: 11pt;
    font-weight: lighter;
}

ul.nav.nav-tabs li {
    cursor: pointer;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    cursor: pointer;
}

/*****************************/
/* Side bar */
#navbar-collapse-header {
    background-color: #d8e7e8 !important;
    padding-right: 10px;
}

.left-nav-header {
    /*color: #31868e;*/
    color: #3d8da0;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 5px;
    border: solid 1px #347178;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    margin-top: 2px;
    margin-right: 2px;
}

.left-nav-header .left-nav-closed {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: vertical-rl;
}

.left-nav-link {
    padding: 3px;
    padding-left: 15px;
    margin-right: 2px;
    background-color: #ffffff;
    border-bottom: none;
    border-right: none;
    color: #777777 !important;
    transition: background-color 0.3s;
}

.left-nav-link:hover {
    background-color: rgba(0, 120, 134, 0.22);
    color: #347178;
}

.left-nav-link.active {
    font-weight: bold !important;
    /*background-color: #31868e;*/
    /*background: linear-gradient(to right, #c7b69e, #d7c6ae);*/
    /*background: linear-gradient(to right, #c1dadd, #d1eaed);*/
    border: solid 2px #31868e;
    border-left: 0px;
}

.left-nav-link > a {
    color: #777777 !important;
    display: block;
    width: 100%;
    height: 100%;
}

.left-nav-link.active > a {
    color: #ffffff !important;
}

.left-nav-link.active:hover > a {
    color: #3d8da0 !important;
}

.left-nav-link .left-nav-closed {
    display: none;
}

.nav > li > a {
    padding-top: 2px;
    padding-bottom: 5px;
    border: none;
}

/* For the context help, e.g. ? buttons */
.ContextHelpButton {
    color: #888888 !important;
    text-decoration: none;
}

.ContextHelpButton:hover {
    text-decoration: none;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #14b29b;
}

.navbar-inner {
    /* background-color: #e4e4e4; -- fallback color */
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

    /* Gradients for modern browsers, replace as you see fit */
    /* background-image: -moz-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -ms-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd)); */
    /* background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -o-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: linear-gradient(top, #eeeeee, #dddddd); */
    /* background-repeat: repeat-x; *./

    /* IE8-9 gradient filter */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); */
}

h3 {
    padding: 4px;
    margin: 4px;
}

textarea {
    width: 20em;
}

.MainView {
    height: 100%;
    width: 100%;
    /* overflow: auto; */
}

.sidebar-nav {
    padding: 8px;
}

select {
    width: auto;
}

select option {
    padding: 3px;
}

.StatusBarTitle {
    color: #777777;
}

.StatusBarStatus {
    color: #888888;
    background-color: #dddddd;
    font: 10pt Verdana, sans-serif;
    width: 100px;
    right: 10px;
}

.MessageBox {
    padding: 7px;
    min-width: 500px;
    max-width: 500px;
    font: 11pt Verdana, sans-serif;
    border: solid 1px #777777;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 100000;
}

.MessageBoxClose {
    margin-left: 30px;
    margin-right: 8px;
    float: right;
    cursor: default;
    color: #888888;
}

.MessageBoxClose:hover {
    font-weight: bold;
    color: #000000;
}

.AlertInfo {
    background-color: #bbeebb;
}

.AlertWarning {
    background-color: #ffffdd;
}

.AlertError {
    background-color: #ffdddd;
}
/*
.modal {
    width: 760px;
    margin-left: -380px;
}
*/
.help-dialog {
    font-size: 11pt;
}

.ObjectList option {
    font: 11pt Verdana, sans-serif;
    background-color: #ffffff;
    padding: 3px;
    margin: 2px;
}

.ObjectList option:hover {
    background-color: #edf8fb;
}

.ObjectListButton {
    background-color: #dddddd;
    padding: 6px;
    margin: 5px;
}

.ObjectSelect {
    font: 11pt Verdana, sans-serif;
    background-color: #eeeeff;
    padding: 3px;
    margin: 2px;
}

.RuleListItem {
    background-color: #dddddd;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.RuleListItemSelected {
    background-color: #c1dadd;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Checklist {
    cursor: pointer;
    padding: 4px;
}

.Selected {
    background-color: #c1dadd;
}

.ResizableColumn {
    width: 100%;
    overflow: auto;
}

.ResizableColumnTitle {
    font: bold 12pt Verdana, sans-serif;
    color: #ffffff;
    background-color: #444444;
    padding: 3px;
    padding-bottom: 7px;
}

.NonNullColumn {
    color: #000000;
}

.NullableColumn {
    color: #999999;
}

.NonPersistentColumn {
    font-style: italic;
}

.hint {
    font: normal 8pt Verdana, sans-serif;
    color: #777777;
    padding: 5px;
}

.accordion-heading {
    background-color: #eeeeee;
}

.ResizableTd {
    border: solid 1px #cccccc;
    border-right: solid 5px #cccccc;
    margin-right: 5px;
    padding: 0px;
    vertical-align: top;
}

.ResizableBodyTd {
    vertical-align: top;
    padding: 4px;
}

/***************************/
/* Selectable list */
.ScrollableList > option[selected] {
    background-color: #c1dadd;
}

.ScrollableList {
    padding: 0px;
    background-color: #ffffff;
    vertical-align: top;
}

.ScrollableListHeader {
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
    color: #666666;
    /*background-color: #c1dadd;*/
    padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.ScrollableListControlHeader {
    font-weight: bold;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    align: center;
    border-bottom: solid 1px #bbbbbb;
}

.ScrollableListControlHeader button {
    border: solid 1px #ffffff;
    font-size: 10pt;
    font-weight: bold;
    color: #6d6e70;
}

.ScrollableListControl {
    color: #007886;
}

.ScrollableListControlWarn {
    color: #ee842e;
}

.ScrollableList {
    overflow: auto;
}

.SelectedItem {
    padding: 3px;
    background-color: #c1dadd;
    color: #303030;
    cursor: pointer;
}

.OddItem {
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
}

.ExpandableItem:before {
    content: "&#2295;"
}

.CollapsableItem:before {
    content: "&#2296;"
}

.EvenItem {
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
}

.ShowMoreItem {
    padding: 3px;
    background-color: #ddeedd;
    cursor: pointer;
}

/****************************/
.SelectedListItem {
    cursor: pointer;
    padding: 2px;
    background-color: #ccccdd;
}

.UnselectedListItem {
    cursor: pointer;
    padding: 2px;
}

.CreateDeleteButtonContainer {
    padding: 4px;
    margin: 5px;
    align: center;
}

.CreateDeleteButton {
    padding: 3px;
    margin: 0px;
}

.ResourceTree {
    font: 10pt normal Verdana, sans-serif;
    background-color: #ffffff !important;
    padding: 3px;
}

.Rule {
    font: 11pt normal Verdana, sans-serif;
    text-decoration: none;
    border-bottom: dotted 1px #888888;
    margin: 3px;
}

.RuleInactive {
    font: 11pt normal Verdana, sans-serif;
    text-decoration: none;
    border-bottom: dotted 1px #888888;
    color: #888888;
    margin: 3px;
}

.RuleTopic {
    font: 9pt normal Verdana, sans-serif;
    border: solid 1px #999999;
    padding: 4px;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.RuleTopic:hover {
    border: solid 1px #000000;
    opacity: 0.7;
}

.sortable-header {
    cursor: pointer;
    white-space: nowrap;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}

div.ace_line {
    font: 9pt monospace;
    font-family: monospace;
}

.TxSummaryItemInsert > .panel-heading {
    background-color: #fff5cc;
}

.TxSummaryItemUpdate > .panel-heading {
    background-color: #d6ffcc;
}

.TxSummaryItemDelete > .panel-heading {
    background-color: #ffdbcc;
}

#loggersTable > tbody > tr > td > label {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 20px;
}

.CopyrightNotice {
    font: 8pt Verdana, sans-serif;
    color: #999999;
}

/**************************************/
/* Debugger */
div.LogicTreeContainer {
    padding: 7px;
    border: solid 1px #eeeeee;
    overflow: auto;
}

.LogicTree {
    font: 10pt Verdana, sans-serif;
    border-collapse: collapse;
}

.LogicTreeRow {
    background-color: #ffffff;
    cursor: pointer;
    padding: 0px;
}

.LogicTreeRow:hover {
    background-color: #eeeeff;
    cursor: pointer;
}

.LogicTreeRowSel {
    background-color: #e0e0e8;
}

.LogicTreeRowCell {
    padding-top: 0px;
    padding-bottom: 0px;
}

.LogicTreeSpacer {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    border-left: solid 1px #999999;
}

.LogicTreeEvent {
    font-size: 9pt;
    background-color: #55ff55;
    border: solid 1px #888888;
    width: 1em;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 3px;
}

.LogicTreeBegin {
    background-color: #ffffff;
}

.LogicTreeParentCopy {
    background-color: #dd5a9d;
}

.LogicTreeFormula {
    background-color: #dda2c0;
}

.LogicTreeAggregate {
    background-color: #6c75eb;
}

.LogicTreeValidation {
    background-color: #a2a6db;
}

.LogicTreeBeginEvent {
    background-color: #e0bd5b;
}

.LogicTreeAfterEvent {
    background-color: #e0d0a5;
}

.LogicTreeBeforeCommit {
    background-color: #aedf5b;
}

.LogicTreeAfterCommit {
    background-color: #c9dfa4;
}

.EventPropTable {
    font: 10pt Verdana, sans-serif;
}

.EventPropName {
    text-align: right;
    background-color: #bbbbbb;
    padding: 6px;
}

.EventPropValue {
    padding: 5px;
}

input.VarInput {
    font: 9pt Verdana, sans-serif;
    width: 100%;
    border: none;
    padding: 1px;
    margin-bottom: 0px;
    line-height: normal;
    height: auto;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    cursor: text;
}

div.DebugValue {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**************************************/
/* Logging */
.LogLineEven {
    background-color: #ffffff;
    line-height: 18px;
}

.LogLineOdd {
    background-color: #dddddd;
    line-height: 18px;
}

.LogLevelFINEST {
    background-color: #397249;
}

.LogLevelFINER {
    background-color: #628b61;
}

.LogLevelFINE {
    background-color: #9cb770;
}

.LogLevelINFO {
    background-color: #c7e1ba;
}

.LogLevelWARNING {
    background-color: #f6e4cc;
}

.LogLevelERROR {
    background-color: #f3d5bd;
}

.LogLineExpand {
    float: left;
    height: 1.16em;
    width: 22px;
    background-color: #dddddd;
    cursor: default;
    text-align: center;
    margin: 0px;
}

.LogLineNumber {
    min-width: 30px;
    text-align: right;
    float: left;
    padding-right: 4px;
    height: 1.16em;
}

.LogLineLogger {
    min-width: 3.5em;
    max-width: 3.5em;
    background-color: #cccccc;
    padding-right: 5px;
    padding-left: 4px;
    float: left;
}

/*************************************************************/
/* Server info */
.PropTable {
    font: 10pt Verdana, sans-serif;
}

.PropTableName {
    text-align: right;
    background-color: #bbbbbb;
    padding: 6px;
}

.PropTableValue {
    padding: 5px;
}

/*************************************************************/
/* Date/time picker styles */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

/* REST Lab :: /projects/200/restlab */
.response-header {
    background-color: #94d1a6;
}

.response-header.outdated {
    background-color: #cfcfcf;
}

.ui-layout-north {
    z-index: 10 !important;
    overflow: visible !important;
    padding: 0;
}

.ui-layout-north nav {
    position: relative;
}

.ui-layout-south {
    z-index: 0 !important;
}

.ui-layout-west {
    z-index: 0 !important;
}

.ui-layout-east {
    z-index: 0 !important;
}

.ui-layout-east div {
    z-index: 0 !important;
    padding: 2px;
}

.ui-layout-east iframe {
    z-index: 0 !important;
}

/* navbar.html */
.project-menu .flyout-menu-toggle {
    width: 100%;
    padding-right: 1em;
    margin: 2px;
    min-width: 250px;
    padding-top: 9px;
    position: relative;
}

.project-menu .flyout-menu-toggle:hover {
    cursor: pointer;
}

.project-menu .dropdown-menu {
    position: relative;
}

.project-menu .divider {
    height: 5px;
    padding: 0 1em;
    margin: 0;
}

.project-menu li {
    padding: 5px 1em;
    width: 100%;
    font-size: 14pt;
    border: 2px solid #ffffff;
}

.project-menu li:hover {
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
    cursor: pointer;
}

/* Connection Wizard */
.el-connwiz-left-align {
    float: left;
}

.el-connwiz-right-align {
    float: right;
}

.el-connwiz-modal-header {
    /* background: #008d8d; */
    color: white;
}

.el-connwiz-modal-header strong {
    font-size: 14pt;
    display: block;
    position: absolute;
    vertical-align: bottom;
    right: 10px;
    margin-top: -15px;
}

.el-connwiz-modal-header button {
    vertical-align: top;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-primary-connwiz, .btn.btn-primary-connwiz {
    color: #ffffff;
    border-color: #357ebd;
    padding: 4px;
    text-align: center;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn.btn-primary-connwiz:hover {
    background-color: #31868e;
}

.btn-primary-connwiz:hover {
    background-color: #31868e;
}

.modal-content {
    border: none;
}

/*********************************/
/* Tour */
.tour-backdrop {
    opacity: 0.5;
}

.tour-step-background {
    opacity: 0.3;
    border: solid 3px #ff0000;
}

.tour-apiCreatorTour .btn {
    width: auto;
    padding-left: 0.5em;
    border-radius: 3px;
}

.tour-bold {
    color: Darkblue;
}

/********************************/
/* Learning */
.learn-step {
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.learn-step-todo {
    background-color: #f5bca9;
}

.learn-step-marker-todo {
    color: #ff0000;
}

.learn-step-done {
    color: #777777;
    background-color: #5cb85c;
}

.learn-step-marker-done {
    color: #555555;
}

.popover.tour {
    max-width: 450px;
}

.popover .popover-navigation button {
    border-radius: 6px;
    padding: 3px;
    z-index: 1200;
}

.tour-step-background {
    z-index: 1000;
}

/********************************/
#toggleContextHelpButton {
    cursor: pointer;
}

.el-layout-container .column {
    padding: 10px;
    margin: 0;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
}

.el-layout-container .columns {
    position: absolute;
}

.el-layout-container {
    display: block;
    width: 100%;
}

.el-whole {
    width: 90%;
    float: left;
    margin-right: 3%;
}

.el-half {
    width: 45%;
    float: left;
    margin-right: 3%;
}

.el-sixth-span1 {
    float: left;
    width: 15%;
    margin-right: 1.5%;
}

.el-sixth-span2 {
    float: left;
    width: 31%;
    margin-right: 1.5%;
}

.el-clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.margin-25 {
    margin: 25px;
}

.btn.btn-default.btn-icon {
    width: auto;
    padding: 5px;
    display: inline;
}

.relationship-column-plus-minus {
    margin-top: 30px;
    margin-left: 20px;
}

.relationship-meta textarea {
    width: 90%;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: relative;
    margin: 4px;
}

.mfp-wrap {
    z-index: 9999 !important;
}

.disappear {
    width: 1px !important;
    height: 1px !important;
    background: #ffffff;
}

/*** SUB RESOURCE MODAL ***/
.sub-resource-modal {
    padding: 10px;
}

#body .sub-resource-modal textarea {
    background: #dbdbdb !important;
    color: #8b8b8b;
}

.modal-close-x {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
}

.sub-resource-create-relationship-button {
    float: right;
    margin-left: -100%;
    margin-top: -30px;
}

#first-resource-container, #second-resource-container, #second-resource-container > ul > li {
    margin: 0;
}

#first-resource-container > ins, #second-resource-container > ins {
    display: none;
}

#first-resource-container > a, #second-resource-container > a {
    display: none;
}

#body .input-group .form-control {
    border-radius: 0px;
}

/* EVAL MODE */
.evalModeContainer {
    padding: 10px;
    font-weight: bold;
    color: #347178;
    white-space: nowrap;
    cursor: pointer;
}

.specify-db-form td i {
    padding-left: 12px;
}

/* FONT SIZES */
.font-plus-10 {
    font-size: 1.1em;
}

.font-plus-20 {
    font-size: 1.2em;
}

.font-plus-50 {
    font-size: 1.5em;
}

.font-plus-100 {
    font-size: 2em;
}

/* FONT COLORS */
.tint-red {
    color: #a15858;
}

.tint-green {
    color: #669d60;
}

.tint-yellow {
    color: #c2b662;
}

.btn {
    transition: all 0.5s ease;
}

.btn-warning {
    transition: all 0.5s ease;
}

.selected-project {
    background: #c6e0e3;
}

.panel.panel-default {
    overflow: hidden;
}

body .margin-top-10 {
    margin-top: 10px;
}

body .margin-bottom-10 {
    margin-bottom: 10px;
}

body .margin-left-10 {
    margin-left: 10px;
}

body .margin-right-10 {
    margin-right: 10px;
}

.margin-10 {
    margin: 10px;
}

.display-inline-block {
    display: inline-block !important;
}

.display-inline-important {
    display: inline !important;
}

.width-300 {
    width: 300px !important;
}

.restlab-filters-container {
    background: #f9f9f9;
    border-radius: 8px;
}

.resource-node .active {
    font-weight: bold;
}

.resource-nodes-container {
    min-height: 200px;
    min-width: 300px;
}

#resourceDescription {
    min-height: 150px;
}

#relogin .modal-content {
    padding: 10px;
}

#LoginBadUrlMessage {
    font-size: 8pt;
    color: #ff0000;
    height: 30px;
}

.resource-node:hover {
    cursor: pointer;
    font-style: italic;
}

.attribute-checkbox-cell {
    width: 20px;
    height: 20px;
    background: #efefef;
    text-align: center;
}

.attribute-label-cell {
    padding: 0 5px;
}

.attribute-label-cell label {
    padding: 0;
    margin: 0;
}

select option {
    width: 100%;
}

#body .false-readonly {
    cursor: text;
}

/* Welcome to main.css - There is no law here**/
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.transform-capitalize {
    text-transform: capitalize;
}

.margin-up-5 {
    margin-top: -5px;
}

.hover-target {
    display: none;
}

.hover-wrap:hover .hover-target {
    display: inline;
}

.continue-step {
    position: absolute;
    right: 30px;
    border-radius: 0;
    top: 7px;
    width: 19px;
}

.end-tour {
    position: absolute;
    border-radius: 0;
    right: 10px;
    top: 7px;
}

.ace_editor, div.ace_line, .ace_editor div:last-child{
    font-size: 14px !important; /* this is tied to kahuna.globals.aceEditorFontSize in main.js */
    font-family: monospace !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.max-width-25 {
    max-width: 25px;
}

@media screen and (max-width: 769px) {
    .help-dropdown {
        border: none !important;
        position: absolute;
        top: -7px;
        right: 0px;
    }

    .help-dropdown .flyout-menu-toggle {
        border: none !important;
        position: absolute;
        top: -7px;
        right: 3px;
    }

    #body .help-dropdown ul.dropdown-menu {
        background: white;
        position: relative;
        top: 25px;
        right: 0;
    }
}
