<table style="height: 100%; width: 100%;">
							<tr style="height: 100%;">
								<td class="ResizableTd" id="authListTd" style="min-width: 100px;">
									<div class="ScrollableList btn-horizontal-2" style="width: 100%;">
										<div class="ScrollableListHeader">Topics</div>
										<div class="ScrollableListControlHeader"><button type="button" class="btn btn-list-control btn-xs"
													ng-click="createTopic();">
												<span class="fa fa-plus-circle ScrollableListControl"></span>
												Add
											</button><button type="button" class="btn btn-list-control btn-xs"
													ng-click="deleteTopic();"
													ng-disabled="!data.currentTopic">
												<span class="fa fa-minus-circle ScrollableListControl"></span>
												Delete
											</button></div>
										<div class="ResizableColumn">
											<select size="20" class="ObjectList" id="topicList" style="min-width: 100%;" ng-model="data.currentTopic"
													ng-options="topic.name for topic in data.topics">
											</select>
										</div>
									</div>
								</td>
								<td class="ResizableBodyTd">
									<div class="row">
										<table style="width: 100%;">
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="topicName">Topic name:</label></td>
												<td><input class="form-control" type="text" size="50" maxlength="200" id="topicName"
													ng-model="data.currentTopic.name"/>
												</td>
											</tr>
											<tr>
											 <td> </td>
											     <td>
													<a ng-click="helpDialog('project', 'Topics')" style="cursor: pointer; margin:5px 0 -5px 0;display:block;">What is a topic?</a><br/>
												</td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="topicSummary">Summary:</label></td>
												<td><textarea class="form-control" maxlength="300" id="topicSummary" rows="2" style="resize: both; width: 70%;"
													ng-model="data.currentTopic.summary"></textarea><br/></td>
											</tr>
											<tr>
												<td style="text-align: right; padding: 4px;"><label for="topicColor">Color:</label></td>
												<td><input type="color" id="topicColor"
													ng-model="data.currentTopic.color"/></td>
											</tr>
										</table>
									</div>
									<div style="overflow: auto;" class="row">
										<textarea name="topicEditor" ng-if="data.currentTopic" ng-init="$emit('initTopicsCK');" rows="25" id="topicEditor" cols="80"
											style="resize: both;" ng-model="data.currentTopic.description"></textarea>
										{{editorMessage}}
									</div>
									<br/>
									<button class="btn btn-primary" ng-click="saveTopic()">Save</button>
								</td>
							</tr>
</table>
