	<div class="modal-header">
		<img class="brand-image" src="images/ca-logo.png" />
		<h2 class="product-title">Link Generator</h2>
		</span>
	</div>
<div class="modal-body" style="padding-left: 50px;">
	<form role="form">
		<div class="container">
			<div class="row" ng-click="updateLink();">
				<div class="col-md-2">
					<div class="btn-group" style="margin-left: 5px; margin-top: 3px;">
						<label>Legible/Detailed</label>
						<div
							class="switch-toggle switch-candy toolbar-switch switch-candy-blue">
							<input ng-trim='false' id="readableTrue" name="readable"
								type="radio" btn-radio="true" ng-model="readable" checked>
							<label ng-click="update('readable', true);" for="readableTrue"
								onclick="">On</label> <input ng-trim='false' id="readableFalse"
								name="readable" type="radio" btn-radio="false"
								ng-model="readable"> <label
								ng-click="update('readable', false);" for="readableFalse"
								onclick="">Off</label> <a></a>
						</div>
						<br /> <label>Populate Server URL</label>
						<div
							class="switch-toggle switch-candy toolbar-switch   switch-candy-blue">
							<input ng-trim='false' id="serverTrue" name="server" type="radio"
								btn-radio="true" ng-model="server"> <label
								ng-click="update('server', true);" for="serverTrue" onclick="">On</label>

							<input ng-trim='false' id="serverFalse" name="server"
								type="radio" btn-radio="false" ng-model="server"> <label
								ng-click="update('server', false);" for="serverFalse" onclick="">Off</label>
							<a></a>
						</div>
						<br /> <label>Populate Username</label>
						<div
							class="switch-toggle switch-candy toolbar-switch   switch-candy-blue">
							<input ng-trim='false' id="usernameTrue" name="username"
								type="radio" btn-radio="true" ng-model="username"> <label
								ng-click="update('username', true);" for="usernameTrue"
								onclick="">On</label> <input ng-trim='false' id="usernameFalse"
								name="username" type="radio" btn-radio="false"
								ng-model="username"> <label
								ng-click="update('username', false);" for="usernameFalse"
								onclick="">Off</label> <a></a>
						</div>
						<br /> <label>Populate Auth Token</label>
						<div
							class="switch-toggle switch-candy toolbar-switch   switch-candy-blue">
							<input ng-trim='false' id="apiKeyTrue" name="apiKey" type="radio"
								btn-radio="true" ng-model="apiKey"> <label
								ng-click="update('apiKey', true);" for="apiKeyTrue" onclick="">On</label>

							<input ng-trim='false' id="apiKeyFalse" name="apiKey"
								type="radio" btn-radio="false" ng-model="apiKey"> <label
								ng-click="update('apiKey', false);" for="apiKeyFalse" onclick="">Off</label>
							<a></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<textarea class="full-width min-height-200">{{link}}</textarea>
					<br /> <br />
					<button class="btn btn-default" ng-click="close();">Close</button>
				</div>
			</div>
		</div>
	</form>
</div>
